@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
}