pre.nebula-pre {position: relative; display: block; height: auto; font: normal 12px/22px Monaco, Monospace !important; color:#222; background-color: #e8e8e8; background: -webkit-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background: -moz-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background: -ms-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background: -o-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background: repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); margin: 0 0 20px 0; padding: 0 1em; overflow-x: auto; white-space: pre; word-wrap: normal; border: 1px solid #444; border-left: 5px solid #444;}
	/* .no-js pre.nebula-pre {margin: 10px 0 20px 0;} */
	.nebula-pre.pretitle {display: block; text-align: right; color: #f1672c; font-size: 10px; line-height: 10px; margin: 0 0 2px 0; padding: 0; cursor: default;}

/* Languages */
.nebula-pre.pretitle.apache, .nebula-pre.pretitle.directive {color: #af2473;}
pre.nebula-pre.apache, pre.nebula-pre.directive {border: 1px solid #af2473; border-left: 5px solid #af2473;}
	pre.nebula-pre.apache::selection, pre.nebula-pre.directive::selection {background: #f7daeb;}

.nebula-pre.pretitle.as, .nebula-pre.pretitle.actionscript {color: #a42222;}
pre.nebula-pre.as, pre.nebula-pre.actionscript {border: 1px solid #a42222; border-left: 5px solid #a42222;}
	pre.nebula-pre.as::selection, pre.nebula-pre.actionscript::selection {background: #f8dede;}

.nebula-pre.pretitle.css {color: #30a9dc;}
	.nebula-pre.pretitle.css:after {content: "\f13c"; font-family: 'FontAwesome'; margin-left: 5px;}
pre.nebula-pre.css {border: 1px solid #30a9dc; border-left: 5px solid #30a9dc;}
	pre.nebula-pre.css::selection {background: #c1e5f5;}

.nebula-pre.pretitle.html {color: #f1672c;}
	.nebula-pre.pretitle.html:before {content: "\f13b"; font-family: 'FontAwesome'; margin-right: 3px;}
pre.nebula-pre.html {border: 1px solid #f1672c; border-left: 5px solid #f1672c;}
	pre.nebula-pre.html::selection {background: #fbcebb;}

.nebula-pre.pretitle.js, .nebula-pre.pretitle.javascript, .nebula-pre.pretitle.jquery {color: #f1bf26;}
pre.nebula-pre.js, pre.nebula-pre.javascript, pre.nebula-pre.jquery {border: 1px solid #f1bf26; border-left: 5px solid #f1bf26;}
	pre.nebula-pre.js::selection, pre.nebula-pre.javascript::selection, pre.nebula-pre.jquery::selection {background: #fae9b6;}

.nebula-pre.pretitle.php {color: #5a68a5;}
pre.nebula-pre.php {border: 1px solid #5a68a5; border-left: 5px solid #5a68a5;}
	pre.nebula-pre.php::selection {background: #c8cde1;}
	
.nebula-pre.pretitle.shortcode {color: #287DA2;}
	.nebula-pre.pretitle.shortcode:before {content: "\f19a"; font-family: 'FontAwesome'; margin-right: 3px;}
pre.nebula-pre.shortcode {border: 1px solid #287DA2; border-left: 5px solid #287DA2;}
	pre.nebula-pre.shortcode::selection {background: #d4ebf4;}

.nebula-pre.pretitle.sql, .nebula-pre.pretitle.mysql {color: #116285;}
pre.nebula-pre.sql, pre.nebula-pre.mysql {border: 1px solid #116285; border-left: 5px solid #116285;}
	pre.nebula-pre.sql::selection, pre.nebula-pre.mysql::selection {background: #fff4e2;}