.page-template-grid-test {
	h1 {border: 1px solid red;}

	.grid-container {
		display: grid;
		//grid-template-columns: 1fr auto;
		grid-auto-columns: 1fr auto;
		grid-template-areas:
			"Utility-Navigation 	Utility-Navigation 	Utility-Navigation 	Utility-Navigation"
			"Logo 					Primary-Navigation 	Primary-Navigation 	Primary-Navigation"
			"Hero 					Hero 				Hero 				Hero"
			"Content 				Content 			Content 			Sidebar"
			"Footer 				Footer 				Footer 				Footer";
		/* max-width: 1187px; padding-left: 40px; padding-right: 40px; margin: 0 auto; */ outline: 2px dotted green;
	}

	.Utility-Navigation { grid-area: Utility-Navigation; outline: 1px solid red;}

	.Logo { grid-area: Logo; outline: 1px solid purple;}

	.Primary-Navigation { grid-area: Primary-Navigation; outline: 1px solid green;}

	.Hero { grid-area: Hero; background: navy; outline: 1px solid blue;}

	.Content { grid-area: Content; outline: 1px solid orange;}

	.Sidebar { grid-area: Sidebar; outline: 1px solid pink;}

	.Footer { grid-area: Footer; background: url($template_directory + "/assets/img/nebula-mountain.jpg") no-repeat bottom center / cover; outline: 1px solid cyan;}

	#footer-section {display: none;}
}