@import 'variables';
@import 'mixins';
@import 'helpers';

$admin_media_queries: (
	widescreen: "(max-width: 1800px) and (min-width: 1500px)",
	non_widescreen: "(max-width: 1110px)",
	desktop: "(max-width: 1499px) and (min-width: 800px)",
	tablet: "(max-width: 900px) and (min-width: 501px)",
	mobile: "(max-width: 500px)",
);

#wpadminbar i {-webkit-font-smoothing: antialiased;}


//WordPress Admin sidebar menu to match theme color
//Non-current page hovers
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {color: $primary_color;}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {color: $primary_color;}

//Dashicon
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {color: $primary_color;}

//Buttons
#collapse-button:focus,
#collapse-button:hover {color: $primary_color;}

//Current page
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {background: $primary_color; color: #fff;}

//WordPress Admin Bar menu to match theme color
#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {color: $primary_color;}
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label {color: $primary_color;}

//Nebula Font Awesome icons
#wpadminbar li.hover > .ab-item i,
#wpadminbar:not(.mobile) li:hover > .ab-item i,
#wpadminbar:not(.mobile) li > .ab-item:focus i {color: $primary_color !important;}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {color: $primary_color;}


.filtereditem {display: none !important;}

.nebula_help_link {text-decoration: none;}
i.help {cursor: help; color: #aaa; @include prefix((transition: all 0.25s));
	&:hover {color: #444;}
}

#screen-options-wrap label img {display: none;}

.acf_postbox p.label {display: inline-block;}

//Nebula Options Page
.appearance_page_nebula_options {
	a {box-shadow: none;}
	h2 .nav-tab.nav-tab-inactive {font-weight: 400;}

	.form-table {
		&.dependent {@include media(custom, map_get($admin_media_queries, mobile)){display: block !important;};}
		h2 {}
		h3 {margin: 0;}
		th {width: 250px;
			@include media(custom, map_get($admin_media_queries, tablet)){width: 100%;};
		}
	}

	a {@include prefix((transition: all 0.25s));
		&.help {text-decoration: none; color: #ccc; box-shadow: none; cursor: help;
			&:hover,
			&.active {color: #0074a2;}
		}
		&.reset {text-decoration: none; color: red;}
	}

	p.helper {display: none; color: #777;
		&.active {display: block;}
	}

	input[type="text"],
	input[type="password"] {width: 421px; font-size: 12px;
		@include media(custom, map_get($admin_media_queries, tablet)){width: 100% !important;};
	}

	tr.short {
		th,
		td {padding-top: 5px; padding-bottom: 5px;}
	}

	input.dimension.error,
	input.metric.error {border: 1px solid $danger_color; @include background-color($danger_color, 0.1);}

	.mobiletitle {display: none;
		@include media(custom, map_get($admin_media_queries, mobile)){display: block;};
	}

	.nav-tab-wrapper {@include media(custom, map_get($admin_media_queries, mobile)){display: none;};}
}

.businessday {
	span {@include prefix((transition: all 0.25s));}
	input {@include prefix((transition: all 0.25s));}
	&.closed span,
	&.closed input {opacity: 0.4; pointer-events: none;}
	input[type="checkbox"] {opacity: 1 !important; pointer-events: all;}
}


.admin-user-info {text-transform: capitalize;}

#wpbody-content {padding-bottom: 40px;}
#dashboard-widgets .meta-box-sortables {min-height: 0;}
.metabox-holder .postbox-container .empty-container {height: 100px; margin-bottom: 25px !important;}

li.comment-count {display: none;}

.appearance_page_nebula_options {
	.form-table th {width: 300px;}
	textarea {width: 392px; height: 60px; resize: vertical; font-size: 12px;}
}

.form-table .helper {padding: 0 10px; margin: 10px 0; background: #f9f9f9; border-radius: 8px;}

th#id {width: 50px;}

//Dev Metabox
#phg_developer_info {
	.secured-connection i {color: $success_color;}
	#testloadcon {pointer-events: none; opacity: 0; visibility: hidden; display: none;}
	form.searchfiles {display: inline-block; margin-bottom: 10px; width: 90%;
		input.findterm {padding: 2px 5px; font-size: 12px; border-radius: 4px; width: 46%;}
		.searchdirectory {font-size: 12px; height: 23px; vertical-align: top;}
		input.searchterm {font-size: 12px; line-height: 11px; height: 22px; margin: 1px 1px; outline: none !important;}
	}
	.search_results {max-height: 0; opacity: 0; font-size: 10px; background: #f6f6f6; padding: 5px; border: 1px solid #ddd; border-radius: 4px; overflow: auto; white-space: nowrap; @include prefix((transition: all 1s));
		&.done {max-height: 500px; opacity: 1;}
		.resulttext {font-size: 10px; margin: 0;}
	}
}

//TODO Manager
#todo_manager {
	.todoresults_title {margin-bottom: 0;
		.todo_help_icon {float: right; font-size: 10px;}
	}
	.todo_results {font-size: 10px; background: #f6f6f6; padding: 5px; margin-top: 10px; border: 1px solid #ddd; border-radius: 4px; overflow: auto; white-space: nowrap; height: 350px; resize: vertical;
		.todofilewrap {margin-bottom: 10px;
			&.todo-theme-parent {display: none;}

			.todofilename {font-size: 12px; margin: 0;}
			.themenote {display: none;}
			.linewrap {
				.todocategory {background: #ccc; color: #fff; padding: 0 5px; text-align: center; border-radius: 10px; text-transform: uppercase; font-size: 8px;
					i {color: #ccc;}
				}
				&.todo-priority-5 {
					.todocategory {background: $danger_color !important;}
				}
				&.todo-priority-4 {
					.todocategory {background: #e38a2c;}
				}
				&.todo-priority-3 {
					.todocategory {background: #dda65c;}
				}
				&.todo-priority-2 {
					.todocategory {background: #d3bd9f;}
				}
				&.todo-priority-1,
				&.todo-priority- {
					.todocategory {background: #ccc;}
				}
				&.todo-priority-0 {display: none;
					.todocategory {background: $primary_color;}
				}
				.todoresult {font-size: 10px; margin: 0; padding: 0;}
			}
		}
	}
}

//For both Dev Search and TODO Manager
.linenumber {font-weight: bold;}
.precon {display: none; resize: none;
	pre.actualline {display: table; font-family: monospace; font-size: 10px; margin: 0; color: #666; background: #fff; padding: 2px 5px; border-radius: 5px; resize: none; @include prefix((transition: all 0.25s));}
}

.nebula-admin-notice {
	a {text-decoration: none;}
}

//Hide theme activated notices in favor of Nebula activation notices (only on the themes page)
.themes-php {
	#message2.updated.notice.is-dismissible.below-h2 {display: none;}
	#setting-error-tgmpa {display: none !important;}
}

//Post/Page Listing Column Modifictions
.widefat td, .widefat td ol, .widefat td p, .widefat td ul {font-size: 12px !important;}
.fixed .column-categories, .fixed .column-rel, .fixed .column-response, .fixed .column-role, .fixed .column-tags {font-size: 10px; width: 10%;}
.fixed .column-author, .fixed .column-date, .fixed .column-format, .fixed .column-links, .fixed .column-parent, .fixed .column-posts {width: 10%;}
.fixed .column-comments {width: 3%;}
.widefat .column-id {padding-left: 0 !important; padding-right: 0 !important; font-size: 10px !important;}
.row-title, td.plugin-title strong, td.post-title strong, .row-actions, .plugin-version-author-uri,
td.column-title strong, td.plugin-title strong {font-size: 12px !important;}

//Wordpress SEO (Yoast)
#wpseo-score .yst-traffic-light {height: 20px; padding-top: 4px;}

.wpseo-admin-page #sidebar-container {display: none;}
#wpseo-conf p.settings_error {display: none !important; visibility: hidden; height: 0; width: 0; opacity: 0; pointer-events: none;
	a {display: none !important; visibility: hidden; height: 0; width: 0; opacity: 0; pointer-events: none;}
}
.widefat .column-wpseo-score {font-size: 10px !important; /* text-align: center; */ /* background: #fafafa; */}
	.wpseo-score-icon {margin-left: 0; width: 10px !important; height: 10px;}
.widefat .column-wpseo-title {width: 200px; font-size: 10px !important; background: #fafafa;}
.widefat .column-wpseo-metadesc {width: 200px; font-size: 10px !important; background: #fafafa;}
.widefat .column-wpseo-focuskw {width: 100px; font-size: 10px !important; background: #fafafa;}

#dashboard_right_now a[href$="options-reading.php"] {color: $danger_color !important; font-weight: 700;
	&:before {content: '!'; background: $danger_color; color: #fff; padding: 0 7px; margin-right: 5px;}
}

ul.admin-menu-tree-page-tree .admin-menu-tree-page-expand {width: 19px; height: 20px;}

//Nebula TinyMCE Toolbar
#wp-fullscreen-buttons .mce-btn.mce-nebula-icon,
.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon {
	button {
		i {background-position: 0px 0px; background-repeat: no-repeat;
			&.mce-i-nebulaicon {background-image: url($template_directory + "/assets/img/admin/nebulaicon.png");}
			&.mce-i-nebulamap {background-image: url($template_directory + "/assets/img/admin/nebulamap.png");}
			&.mce-i-nebulacode {background-image: url($template_directory + "/assets/img/admin/nebulacode.png");}
			&.mce-i-nebulacolgrid {background-image: url($template_directory + "/assets/img/admin/nebulacolgrid.png");}
			&.mce-i-nebulavideo {background-image: url($template_directory + "/assets/img/admin/nebulavideo.png");}
		}
	}
	&:focus button i,
	&:hover button i {background-position: 0px -20px; background-repeat: no-repeat;}
	&[aria-expanded="true"] {background: #ebebeb; border-color: #999; @include prefix((box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.3)), webkit moz);
		i {background-position: 0px -20px; background-repeat: no-repeat;}
	}
}

//Nebula Visitors Data
#nebula-visitor-data {margin-bottom: 50px;
	//User list
	.dataTables_wrapper {
		thead {background-color: #0098d7; color: #fff;
			td {text-align: center !important;
				&.sorting_asc,
				&.sorting_desc {background-color: #0074a4;}
			}
		}

		tbody {
			td {font-size: 11px;}
		}

		.known {color: #5cb85c;}
		.you td {font-style: italic; font-weight: 600;}

		td[data-similar="traits"] {display: none;}
		tr:not(.selected){
			td.ip_address.similar-datapoint {color: orange;}
			td.user_agent.similar-datapoint {color: orange;}
			td.fingerprint.similar-datapoint {color: orange;}
		}


		.hide_column {display: none;}
		.ajaxrow {cursor: pointer;}

		td {font-size: 12px; text-align: center; white-space: nowrap; }

		.moreinfo {cursor: help;}
		.zerovalue {color: rgba(0, 0, 0, 0.2);}

		.dataTables_empty {text-align: left;}
	}

	//Details
	#user-details-filter-con {opacity: 0; transition: all 0.25s;
		#user-details-filter {display: inline-block; max-width: 137px;}
	}
	#user-details-con {margin-top: 6px; outline: 1px solid #B0BED9;
		.user-title-bar {padding: 3px 10px 4px 10px; background: #B0BED9;
			p {margin: 0;}
		}

		#detail-results {margin-top: 5px;}

		.visitor-notice-item {text-align: center;
			&:last-of-type {border-bottom: 1px dotted #000; margin-bottom: 15px;}
		}

		#user-details {padding: 10px;
			p.select-a-visitor {color: #999;}
		}

		table#score-legend {width: 100%;
			td {width: 33.33%; text-align: center;}
		}

		.human-label {text-transform: capitalize;}
		.user-data-value-con {
			ol {margin: 0;
				li {color: #ccc; font-size: 10px;
					span {color: #292b2c; font-size: 1rem;}
				}
			}
			.user-data-value {word-wrap:break-word;}
		}
		a.edit-this-user-data {color: #000; opacity: 0.1; transition: all 0.25s;
			&:hover {color: $primary_color; opacity: 1;}
		}
		a.update-user-data-cancel {color: maroon;}
		#user-data-editing {width: 55%;}
		.ajax-update-spinner {display: none;}
		.user-date-editing-note {padding-top: 3px; color: #777; font-style: italic;}
	}
	#detail-new-row {margin-top: 15px;
		p {margin-bottom: 3px;}
	}

	.useful-queries {
		div {margin-bottom: 25px;}
	}

	#dangerous-stuff {margin-top: 30px; padding-top: 10px; border-top: 1px dotted maroon;}
	.danger-link {color: maroon;
		&:hover {color: red;}
	}
}

#wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i,
.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i


#footer-upgrade strong.nebula {cursor: help;}

#wpfooter a {text-decoration: none;}

.nebula_admin_notice {
	a {color: brand(phg); @include prefix((transition: all 0.25s));
		&:hover {color: brand(phg, 2);}
	}
}

.myhidden {display: none; visibility: hidden; opacity: 0;}
.noheight {height: 0 !important; overflow: hidden; opacity: 0 !important;}