@import 'variables';
@import 'mixins';

body.nebula-wireframing-wireframe {@include prefix((filter: grayscale(100%)));} //Greyscale only when wireframe is active and being viewed

#wireframing-bar {position: relative; background: black; color: #fff; padding-top: 5px; padding-bottom: 5px;}

img, a.logocon {@include prefix((filter: none));}

.fpo-component {background: #e2e2e2; padding: 5px 10px 1px 10px;}
.fpo-component-con {
	.component-name {display: block; color: #222; text-transform: uppercase; border-bottom: 1px solid #444; padding-bottom: 2px;
		.component-icon {font-size: 11px;}
	}
	.component-comment-toggle {float: right; color: #222;
		&:hover,
		&.active {color: $primary_color;
			&:hover {color: #222;}
		}
	}
	.component-comment-drawer {display: none; background: #eee; border: 1px solid #bbb; border-top: none; padding: 0 10px 1px 10px;
		.comment-header {display: block; font-size: rem(12px); color: #222; text-transform: uppercase; border-bottom: 1px solid #444; padding-bottom: 2px; margin-bottom: 4px;}
		p {font-size: 12;}
	}
}

.fpo {background: #e2e2e2; padding: 5px 10px 5px 10px; margin-bottom: 15px;} /* Not sure if I'm a fan of this margin-bottom. */