 /* line 5, /stylesheets/scss/partials/_helpers.scss */ hr { display:block; height:1px; border:0; border-top:1px solid #ccc; background:#fff; background:#fff; margin:3px 0; padding:0; }

 /* line 7, /stylesheets/scss/partials/_helpers.scss */ .rgba hr { display:block; height:1px; border:0; margin:3px 0; padding:0; /* mix-blend-mode: screen; */ }

 /* line 8, /stylesheets/scss/partials/_helpers.scss */ .rgba hr:before { content:''; position:relative; top:-1px; height:1px; display:block; background:#000; background:rgba(0, 0, 0, 0.2); /* mix-blend-mode: multiply; */ }

 /* line 9, /stylesheets/scss/partials/_helpers.scss */ hr.zero { margin:0; }

 /* line 13, /stylesheets/scss/partials/_helpers.scss */ .ir { background-color:transparent; border:0; overflow:hidden; *text-indent:-9999px; }

 /* line 14, /stylesheets/scss/partials/_helpers.scss */ .ir:before { content:""; display:block; width:0; height:100%; }

 /* line 16, /stylesheets/scss/partials/_helpers.scss */ .hidden { display:none !important; visibility:hidden; }

 /* line 17, /stylesheets/scss/partials/_helpers.scss */ .visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }

 /* line 18, /stylesheets/scss/partials/_helpers.scss */ .visuallyhidden.focusable:active,.visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

 /* line 21, /stylesheets/scss/partials/_helpers.scss */ .invisible { visibility:hidden; }

 /* line 22, /stylesheets/scss/partials/_helpers.scss */ /* line 82, /stylesheets/scss/partials/_mixins.scss */ .clearfix:before,.clearfix:after { content:""; display:table; }

 /* line 84, /stylesheets/scss/partials/_mixins.scss */ .clearfix:after { clear:both; }

 /* line 23, /stylesheets/scss/partials/_helpers.scss */ div.space { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }

 /* line 24, /stylesheets/scss/partials/_helpers.scss */ .avoid-clicks { pointer-events:none; }

 /* line 25, /stylesheets/scss/partials/_helpers.scss */ .allow-clicks { pointer-events:all; }

 /* line 26, /stylesheets/scss/partials/_helpers.scss */ .filtered { display:none; }

 /* line 28, /stylesheets/scss/partials/_helpers.scss */ .aligncenter,.align-center { display:block; margin:0 auto; }

 /* line 29, /stylesheets/scss/partials/_helpers.scss */ .alignleft,.align-left { float:left; }

 /* line 30, /stylesheets/scss/partials/_helpers.scss */ .alignright,.align-right { float:right; }

 /* line 31, /stylesheets/scss/partials/_helpers.scss */ .wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px; }

 /* line 40, /stylesheets/scss/partials/_helpers.scss */ .ig-b- { display:inline-block; transition:none; }

 /* line 41, /stylesheets/scss/partials/_helpers.scss */ .ig-b-:hover { background-position:0 -60px; }

 /* line 42, /stylesheets/scss/partials/_helpers.scss */ .ig-b-:active { background-position:0 -120px; }

 /* line 43, /stylesheets/scss/partials/_helpers.scss */ .ig-b- img { visibility:hidden; }

 /* line 45, /stylesheets/scss/partials/_helpers.scss */ .ig-b-v-24 { width:137px; height:24px; background:url("https://badges.instagram.com/static/images/ig-badge-view-sprite-24.png") no-repeat 0 0; }

 @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) { /* line 47, /stylesheets/scss/partials/_helpers.scss */ .ig-b-v-24 { background-image:url("https://badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png"); background-size:160px 178px; }

 }

 /* line 55, /stylesheets/scss/partials/_helpers.scss */ .nebula-spin { -webkit-animation:nebula-spin 2s infinite linear; animation:nebula-spin 2s infinite linear; }

 @-webkit-keyframes nebula-spin { /* line 57, /stylesheets/scss/partials/_helpers.scss */ 0% { -webkit-transform:rotate(0deg); transform:rotate(0deg); }

 /* line 58, /stylesheets/scss/partials/_helpers.scss */ 100% { -webkit-transform:rotate(359deg); transform:rotate(359deg); }

 }

 @keyframes nebula-spin { /* line 57, /stylesheets/scss/partials/_helpers.scss */ 0% { -webkit-transform:rotate(0deg); transform:rotate(0deg); }

 /* line 58, /stylesheets/scss/partials/_helpers.scss */ 100% { -webkit-transform:rotate(359deg); transform:rotate(359deg); }

 }

 /* line 61, /stylesheets/scss/partials/_helpers.scss */ .nebula-flash { -webkit-animation:nebula-fade 4s infinite linear; animation:nebula-fade 4s infinite linear; }

 @-webkit-keyframes nebula-fade { /* line 63, /stylesheets/scss/partials/_helpers.scss */ 0%,100% { opacity:1; }

 /* line 64, /stylesheets/scss/partials/_helpers.scss */ 50% { opacity:0; }

 }

 @keyframes nebula-fade { /* line 63, /stylesheets/scss/partials/_helpers.scss */ 0%,100% { opacity:1; }

 /* line 64, /stylesheets/scss/partials/_helpers.scss */ 50% { opacity:0; }

 }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".doc"],li.icon a[href$=".doc"] { text-decoration:none; border-bottom:1px dotted #2b5797; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".doc"]:before,li.icon a[href$=".doc"]:before { content:"\f1c2"; font-family:"FontAwesome"; color:#2b5797; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".docx"],li.icon a[href$=".docx"] { text-decoration:none; border-bottom:1px dotted #2b5797; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".docx"]:before,li.icon a[href$=".docx"]:before { content:"\f1c2"; font-family:"FontAwesome"; color:#2b5797; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".xls"],li.icon a[href$=".xls"] { text-decoration:none; border-bottom:1px dotted #1e7145; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".xls"]:before,li.icon a[href$=".xls"]:before { content:"\f1c3"; font-family:"FontAwesome"; color:#1e7145; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".xlsx"],li.icon a[href$=".xlsx"] { text-decoration:none; border-bottom:1px dotted #1e7145; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".xlsx"]:before,li.icon a[href$=".xlsx"]:before { content:"\f1c3"; font-family:"FontAwesome"; color:#1e7145; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".ppt"],li.icon a[href$=".ppt"] { text-decoration:none; border-bottom:1px dotted #d04525; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".ppt"]:before,li.icon a[href$=".ppt"]:before { content:"\f1c4"; font-family:"FontAwesome"; color:#d04525; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".pptx"],li.icon a[href$=".pptx"] { text-decoration:none; border-bottom:1px dotted #d04525; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".pptx"]:before,li.icon a[href$=".pptx"]:before { content:"\f1c4"; font-family:"FontAwesome"; color:#d04525; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".pdf"],li.icon a[href$=".pdf"] { text-decoration:none; border-bottom:1px dotted #eb3b00; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".pdf"]:before,li.icon a[href$=".pdf"]:before { content:"\f1c1"; font-family:"FontAwesome"; color:#eb3b00; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".pdfx"],li.icon a[href$=".pdfx"] { text-decoration:none; border-bottom:1px dotted #eb3b00; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".pdfx"]:before,li.icon a[href$=".pdfx"]:before { content:"\f1c1"; font-family:"FontAwesome"; color:#eb3b00; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".zip"],li.icon a[href$=".zip"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".zip"]:before,li.icon a[href$=".zip"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".zipx"],li.icon a[href$=".zipx"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".zipx"]:before,li.icon a[href$=".zipx"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".rar"],li.icon a[href$=".rar"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".rar"]:before,li.icon a[href$=".rar"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".gz"],li.icon a[href$=".gz"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".gz"]:before,li.icon a[href$=".gz"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".tar"],li.icon a[href$=".tar"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".tar"]:before,li.icon a[href$=".tar"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".txt"],li.icon a[href$=".txt"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".txt"]:before,li.icon a[href$=".txt"]:before { content:"\f0f6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 79, /stylesheets/scss/partials/_helpers.scss */ a[href$=".rtf"],li.icon a[href$=".rtf"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 80, /stylesheets/scss/partials/_helpers.scss */ a[href$=".rtf"]:before,li.icon a[href$=".rtf"]:before { content:"\f0f6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 75, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".html"] { text-decoration:none; border-bottom:1px dotted #f1672c; }

 /* line 76, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".html"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#f1672c; margin-right:5px; font-weight:normal; }

 /* line 75, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".php"] { text-decoration:none; border-bottom:1px dotted #5a68a5; }

 /* line 76, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".php"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#5a68a5; margin-right:5px; font-weight:normal; }

 /* line 75, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".js"] { text-decoration:none; border-bottom:1px dotted #f1bf26; }

 /* line 76, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".js"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#f1bf26; margin-right:5px; font-weight:normal; }

 /* line 75, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".css"] { text-decoration:none; border-bottom:1px dotted #30a9dc; }

 /* line 76, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".css"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#30a9dc; margin-right:5px; font-weight:normal; }

 /* line 75, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".scss"] { text-decoration:none; border-bottom:1px dotted #30a9dc; }

 /* line 76, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".scss"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#30a9dc; margin-right:5px; font-weight:normal; }

 /* line 75, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".swf"] { text-decoration:none; border-bottom:1px dotted #c31e24; }

 /* line 76, /stylesheets/scss/partials/_helpers.scss */ a.icon[href$=".swf"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#c31e24; margin-right:5px; font-weight:normal; }

 /* line 98, /stylesheets/scss/partials/_helpers.scss */ a.off,a.no-icon,a.noicon { text-decoration:none; border:none; }

 /* line 99, /stylesheets/scss/partials/_helpers.scss */ a.off:before,a.no-icon:before,a.noicon:before { content:"" !important; margin-right:0 !important; }

 /* line 101, /stylesheets/scss/partials/_helpers.scss */ a.white,li.icon.white a { color:#fff; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.white:hover,li.icon.white a:hover,a.white.hover,li.icon.white a.hover { color:#ccc; }

 /* line 102, /stylesheets/scss/partials/_helpers.scss */ a.white:before,li.icon.white a:before { color:#fff !important; }

 /* line 110, /stylesheets/scss/partials/_helpers.scss */ a.phg { margin-left:3px; padding-left:15px; background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/images/phg/phg-symbol.svg") 0 6px no-repeat; background-size:13px 8px; text-decoration:none !important; }

 /* line 111, /stylesheets/scss/partials/_helpers.scss */ a.phg.white { background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/images/phg/phg-symbol-white.svg") 0 6px no-repeat; background-size:13px 8px; }

 /* line 112, /stylesheets/scss/partials/_helpers.scss */ a.phg.white span { color:#fff; }

 /* line 113, /stylesheets/scss/partials/_helpers.scss */ a.phg.white:hover span,a.phg.white.hover span { color:#aaa; }

 /* line 115, /stylesheets/scss/partials/_helpers.scss */ a.phg span { -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 116, /stylesheets/scss/partials/_helpers.scss */ a.phg span.pinckney { color:#0098d7; }

 /* line 117, /stylesheets/scss/partials/_helpers.scss */ a.phg span.hugo { color:#95d600; }

 /* line 118, /stylesheets/scss/partials/_helpers.scss */ a.phg span.group { color:#9fa1a4; }

 /* line 120, /stylesheets/scss/partials/_helpers.scss */ /* line 122, /stylesheets/scss/partials/_helpers.scss */ a.phg:hover span.pinckney,a.phg.hover span.pinckney { color:#00628b; }

 /* line 123, /stylesheets/scss/partials/_helpers.scss */ a.phg:hover span.hugo,a.phg.hover span.hugo { color:#608a00; }

 /* line 124, /stylesheets/scss/partials/_helpers.scss */ a.phg:hover span.group,a.phg.hover span.group { color:#787b7f; }

 /* line 127, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim { margin-left:0; padding-left:0; text-decoration:none !important; background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/images/phg/phg-symbol.svg") -15px 6px no-repeat; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 128, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim span { margin-right:3px; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 129, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim span:last-child { margin-right:0; }

 /* line 130, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim span.pinckney { color:inherit; }

 /* line 131, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim span.hugo { color:inherit; }

 /* line 132, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim span.group { color:inherit; }

 /* line 134, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim:hover,a.phg.anim.hover { margin-left:3px; padding-left:15px; background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/images/phg/phg-symbol.svg") 0 6px no-repeat; background-size:13px 8px; }

 /* line 136, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim:hover span,a.phg.anim.hover span { margin-right:0px; }

 /* line 137, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim:hover span.pinckney,a.phg.anim.hover span.pinckney { color:#00628b; }

 /* line 138, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim:hover span.hugo,a.phg.anim.hover span.hugo { color:#608a00; }

 /* line 139, /stylesheets/scss/partials/_helpers.scss */ a.phg.anim:hover span.group,a.phg.anim.hover span.group { color:#787b7f; }

 /* line 150, /stylesheets/scss/partials/_helpers.scss */ a.facebook { color:#3b5998; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.facebook:hover,a.facebook.hover { color:#263961; }

 /* line 150, /stylesheets/scss/partials/_helpers.scss */ a.twitter { color:#55acee; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.twitter:hover,a.twitter.hover { color:#1689e0; }

 /* line 150, /stylesheets/scss/partials/_helpers.scss */ a.google_plus { color:#d73d32; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.google_plus:hover,a.google_plus.hover { color:#9e271f; }

 /* line 152, /stylesheets/scss/partials/_helpers.scss */ a.linkedin { color:#0077b5; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.linkedin:hover,a.linkedin.hover { color:#000; }

 /* line 152, /stylesheets/scss/partials/_helpers.scss */ a.github { color:#333; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.github:hover,a.github.hover { color:#4183c4; }

 /* line 150, /stylesheets/scss/partials/_helpers.scss */ a.youtube { color:#cd201f; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.youtube:hover,a.youtube.hover { color:#8b1615; }

 /* line 150, /stylesheets/scss/partials/_helpers.scss */ a.instagram { color:#3f729b; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.instagram:hover,a.instagram.hover { color:#294a65; }

 /* line 152, /stylesheets/scss/partials/_helpers.scss */ a.soundcloud { color:#f80; }

 /* line 47, /stylesheets/scss/partials/_mixins.scss */ a.soundcloud:hover,a.soundcloud.hover { color:#f30; }

 /* line 169, /stylesheets/scss/partials/_helpers.scss */ .border-red,.outline-red { outline:1px solid red; }

 /* line 170, /stylesheets/scss/partials/_helpers.scss */ .border-orange,.outline-orange { outline:1px solid orange; }

 /* line 171, /stylesheets/scss/partials/_helpers.scss */ .border-yellow,.outline-yellow { outline:1px solid yellow; }

 /* line 172, /stylesheets/scss/partials/_helpers.scss */ .border-green,.outline-green { outline:1px solid green; }

 /* line 173, /stylesheets/scss/partials/_helpers.scss */ .border-blue,.border-indigo,.outline-blue,.outline-indigo { outline:1px solid blue; }

 /* line 174, /stylesheets/scss/partials/_helpers.scss */ .border-purple,.border-violet,.outline-purple,.outline-violet { outline:1px solid purple; }

 /* line 176, /stylesheets/scss/partials/_helpers.scss */ .background-red,.bg-red { background:red; }

 /* line 177, /stylesheets/scss/partials/_helpers.scss */ .background-orange,.bg-orange { background:orange; }

 /* line 178, /stylesheets/scss/partials/_helpers.scss */ .background-yellow,.bg-yellow { background:yellow; }

 /* line 179, /stylesheets/scss/partials/_helpers.scss */ .background-green,.bg-green { background:green; }

 /* line 180, /stylesheets/scss/partials/_helpers.scss */ .background-blue,.bg-blue,.background-indigo,.bg-indigo { background:blue; }

 /* line 181, /stylesheets/scss/partials/_helpers.scss */ .background-purple,.bg-purple,.background-violet,.bg-violet { background:purple; }

 /* line 5,  */ a { color:#0098d7 !important; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; text-decoration:none; }

 /* line 6,  */ a:hover { color:#95d600 !important; text-decoration:underline; }

 /* line 9,  */ body.login { background:#f2f2f2; background:linear-gradient(to bottom, #f2f2f2, #ddd); }

 /* line 10,  */ body.login form { margin:0 auto; }

 /* line 11,  */ /* line 12,  */ .js body.login div#login { display:none; }

 /* line 13,  */ /* line 14,  */ body.login div#login h1 a { width:auto; background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/images/logo.png") center center no-repeat; background-size:contain; }

 /* line 15,  */ .svg body.login div#login h1 a { background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/images/logo.svg") center center no-repeat; background-size:contain; }

 /* line 18,  */ /* line 19,  */ /* line 21,  */ /* line 23,  */ body.login div#login form#loginform p.submit input.button-primary { background:#0098d7; background:linear-gradient(to bottom, #0098d7, #005071); border:1px solid #00080b; }

 /* line 24,  */ body.login div#login form#loginform p.submit input.button-primary:hover { background:#005071; background:linear-gradient(to bottom, #005071, #00080b); border:1px solid #000; }

 /* line 32,  */ /* line 36,  */ /* line 37,  */ body.login div#login p#nav a { color:#0098d7 !important; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; text-decoration:none; }

 /* line 38,  */ body.login div#login p#nav a:hover { color:#0098d7 !important; text-decoration:underline; }

 /* line 41,  */ /* line 42,  */ body.login div#login p#backtoblog a { color:#0098d7 !important; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; text-decoration:none; }

 /* line 43,  */ body.login div#login p#backtoblog a:hover { color:#95d600 !important; text-decoration:underline; }

 /* line 51,  */ .ipcon { margin:20px 0 -20px 0; }

 /* line 52,  */ .ipcon p { font-size:12px; margin:0; padding:0; color:#888; }

