 /* line 4,  */ .nebula-pre-con { margin:0 0 20px 0; }

 /* line 5,  */ pre.nebula-code,pre.nebula-pre { position:relative; display:block; height:auto; font:normal 12px/22px Monaco, Monospace !important; color:#222; background-color:#e8e8e8; background:-webkit-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background:-moz-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background:-ms-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background:-o-repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); background:repeating-linear-gradient(top, #f2f2f2 0px, #f2f2f2 22px, #e8e8e8 22px, #e8e8e8 44px); margin:0; padding:0 1em; overflow-x:auto; white-space:pre; word-wrap:normal; border:1px solid #444; border-left:5px solid #444; }

 /* .no-js pre.nebula-pre {margin: 10px 0 20px 0;} */ /* line 10,  */ .nebula-code.codetitle { display:block; text-align:right; color:#f1672c; font-weight:normal; font-size:10px; line-height:10px; margin:0 0 2px 0; padding:0; cursor:default; }

 /* line 12,  */ .nebula-selectcopy-code { font-size:10px; float:right; margin-top:-4px; font-weight:normal; opacity:0.7; }

 /* line 13,  */ .nebula-selectcopy-code:hover,.nebula-selectcopy-code.hover { opacity:1; }

 /* line 15,  */ .nebula-selectcopy-code.success { color:#58c026; }

 /* line 16,  */ .nebula-selectcopy-code.error { color:#ca3838; }

 /* line 22,  */ .nebula-code.codetitle.apache { color:#af2473; }

 /* line 27,  */ .nebula-pre-con.apache a,.nebula-code.pretitle.apache { color:#af2473; }

 /* line 30,  */ pre.nebula-code.apache,.nebula-gist.apache .gist-file { border:1px solid #af2473; border-left:5px solid #af2473; }

 /* line 32,  */ .nebula-code.apache::selection { background:#f7dbeb; background:rgba(221, 92, 165, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.directive { color:#af2473; }

 /* line 27,  */ .nebula-pre-con.directive a,.nebula-code.pretitle.directive { color:#af2473; }

 /* line 30,  */ pre.nebula-code.directive,.nebula-gist.directive .gist-file { border:1px solid #af2473; border-left:5px solid #af2473; }

 /* line 32,  */ .nebula-code.directive::selection { background:#f7dbeb; background:rgba(221, 92, 165, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.html { color:#f1672c; }

 /* line 24,  */ .nebula-code.codetitle.html:before { content:"\f13b"; font-family:"FontAwesome"; margin-right:3px; }

 /* line 27,  */ .nebula-pre-con.html a,.nebula-code.pretitle.html { color:#f1672c; }

 /* line 30,  */ pre.nebula-code.html,.nebula-gist.html .gist-file { border:1px solid #f1672c; border-left:5px solid #f1672c; }

 /* line 32,  */ .nebula-code.html::selection { background:#fff; background:rgba(247, 172, 140, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.htm { color:#f1672c; }

 /* line 24,  */ .nebula-code.codetitle.htm:before { content:"\f13b"; font-family:"FontAwesome"; margin-right:3px; }

 /* line 27,  */ .nebula-pre-con.htm a,.nebula-code.pretitle.htm { color:#f1672c; }

 /* line 30,  */ pre.nebula-code.htm,.nebula-gist.htm .gist-file { border:1px solid #f1672c; border-left:5px solid #f1672c; }

 /* line 32,  */ .nebula-code.htm::selection { background:#fff; background:rgba(247, 172, 140, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.actionscript { color:#a42222; }

 /* line 27,  */ .nebula-pre-con.actionscript a,.nebula-code.pretitle.actionscript { color:#a42222; }

 /* line 30,  */ pre.nebula-code.actionscript,.nebula-gist.actionscript .gist-file { border:1px solid #a42222; border-left:5px solid #a42222; }

 /* line 32,  */ .nebula-code.actionscript::selection { background:#f5d0d0; background:rgba(219, 81, 81, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.as { color:#a42222; }

 /* line 27,  */ .nebula-pre-con.as a,.nebula-code.pretitle.as { color:#a42222; }

 /* line 30,  */ pre.nebula-code.as,.nebula-gist.as .gist-file { border:1px solid #a42222; border-left:5px solid #a42222; }

 /* line 32,  */ .nebula-code.as::selection { background:#f5d0d0; background:rgba(219, 81, 81, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.css { color:#30a9dc; }

 /* line 24,  */ .nebula-code.codetitle.css:before { content:"\f13c"; font-family:"FontAwesome"; margin-right:3px; }

 /* line 27,  */ .nebula-pre-con.css a,.nebula-code.pretitle.css { color:#30a9dc; }

 /* line 30,  */ pre.nebula-code.css,.nebula-gist.css .gist-file { border:1px solid #30a9dc; border-left:5px solid #30a9dc; }

 /* line 32,  */ .nebula-code.css::selection { background:#fff; background:rgba(135, 205, 235, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.scss { color:#c6538c; }

 /* line 27,  */ .nebula-pre-con.scss a,.nebula-code.pretitle.scss { color:#c6538c; }

 /* line 30,  */ pre.nebula-code.scss,.nebula-gist.scss .gist-file { border:1px solid #c6538c; border-left:5px solid #c6538c; }

 /* line 32,  */ .nebula-code.scss::selection { background:#fff; background:rgba(223, 160, 191, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.javascript { color:#f1bf26; }

 /* line 27,  */ .nebula-pre-con.javascript a,.nebula-code.pretitle.javascript { color:#f1bf26; }

 /* line 30,  */ pre.nebula-code.javascript,.nebula-gist.javascript .gist-file { border:1px solid #f1bf26; border-left:5px solid #f1bf26; }

 /* line 32,  */ .nebula-code.javascript::selection { background:#fff; background:rgba(247, 219, 134, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.js { color:#f1bf26; }

 /* line 27,  */ .nebula-pre-con.js a,.nebula-code.pretitle.js { color:#f1bf26; }

 /* line 30,  */ pre.nebula-code.js,.nebula-gist.js .gist-file { border:1px solid #f1bf26; border-left:5px solid #f1bf26; }

 /* line 32,  */ .nebula-code.js::selection { background:#fff; background:rgba(247, 219, 134, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.jquery { color:#f1bf26; }

 /* line 27,  */ .nebula-pre-con.jquery a,.nebula-code.pretitle.jquery { color:#f1bf26; }

 /* line 30,  */ pre.nebula-code.jquery,.nebula-gist.jquery .gist-file { border:1px solid #f1bf26; border-left:5px solid #f1bf26; }

 /* line 32,  */ .nebula-code.jquery::selection { background:#fff; background:rgba(247, 219, 134, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.php { color:#7f7fb2; }

 /* line 27,  */ .nebula-pre-con.php a,.nebula-code.pretitle.php { color:#7f7fb2; }

 /* line 30,  */ pre.nebula-code.php,.nebula-gist.php .gist-file { border:1px solid #7f7fb2; border-left:5px solid #7f7fb2; }

 /* line 32,  */ .nebula-code.php::selection { background:#fff; background:rgba(191, 191, 216, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.regex { color:#666; }

 /* line 27,  */ .nebula-pre-con.regex a,.nebula-code.pretitle.regex { color:#666; }

 /* line 30,  */ pre.nebula-code.regex,.nebula-gist.regex .gist-file { border:1px solid #666; border-left:5px solid #666; }

 /* line 32,  */ .nebula-code.regex::selection { background:#e6e6e6; background:rgba(153, 153, 153, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.shortcode { color:#287da2; }

 /* line 24,  */ .nebula-code.codetitle.shortcode:before { content:"\f19a"; font-family:"FontAwesome"; margin-right:3px; }

 /* line 27,  */ .nebula-pre-con.shortcode a,.nebula-code.pretitle.shortcode { color:#287da2; }

 /* line 30,  */ pre.nebula-code.shortcode,.nebula-gist.shortcode .gist-file { border:1px solid #287da2; border-left:5px solid #287da2; }

 /* line 32,  */ .nebula-code.shortcode::selection { background:#d4ebf5; background:rgba(90, 176, 214, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.sql { color:#116285; }

 /* line 27,  */ .nebula-pre-con.sql a,.nebula-code.pretitle.sql { color:#116285; }

 /* line 30,  */ pre.nebula-code.sql,.nebula-gist.sql .gist-file { border:1px solid #116285; border-left:5px solid #116285; }

 /* line 32,  */ .nebula-code.sql::selection { background:#a2dbf3; background:rgba(29, 165, 223, 0.25); }

 /* line 22,  */ .nebula-code.codetitle.mysql { color:#116285; }

 /* line 27,  */ .nebula-pre-con.mysql a,.nebula-code.pretitle.mysql { color:#116285; }

 /* line 30,  */ pre.nebula-code.mysql,.nebula-gist.mysql .gist-file { border:1px solid #116285; border-left:5px solid #116285; }

 /* line 32,  */ .nebula-code.mysql::selection { background:#a2dbf3; background:rgba(29, 165, 223, 0.25); }

