 .nebula-peek,.nebula-iconpeek { display:inline-block; position:relative; overflow:hidden; transition:padding 0.4s easing(easeOutBack); }

 .nebula-peek:before,.nebula-iconpeek:before { content:"\f061"; font-family:"FontAwesome"; position:absolute; left:-25px; transition:left 0.4s easing(easeOutBack); }

 .nebula-peek:hover,.nebula-iconpeek:hover { padding-left:25px; }

 .nebula-peek:hover:before,.nebula-iconpeek:hover:before { left:0; }

 /*
 .element {
 @include yep(opacity, csstransforms){opacity: 0; transform: translateX(10px);}
 @include nope(opacity, csstransforms){visibility: hidden; left: 10px;}
 }
 */ body.nebula-wireframing-wireframe { -webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:grayscale(100%); }

 #wireframing-bar { position:relative; background:black; color:#fff; padding-top:5px; padding-bottom:5px; }

 .fixedbar { display:none; }

 img,a.logocon { -webkit-filter:none; -moz-filter:none; -ms-filter:none; -o-filter:none; filter:none; }

 .fpo-component { background:#e2e2e2; padding:5px 10px 1px 10px; }

 .fpo-component-con .component-name { display:block; color:#222; text-transform:uppercase; border-bottom:1px solid #444; padding-bottom:2px; }

 .fpo-component-con .component-name .component-icon { font-size:11px; }

 .fpo-component-con .component-comment-toggle { float:right; color:#222; }

 .fpo-component-con .component-comment-toggle:hover,.fpo-component-con .component-comment-toggle.hover,.fpo-component-con .component-comment-toggle.active { color:#0098d7; }

 .fpo-component-con .component-comment-toggle:hover:hover,.fpo-component-con .component-comment-toggle.hover:hover,.fpo-component-con .component-comment-toggle.active:hover,.fpo-component-con .component-comment-toggle:hover.hover,.fpo-component-con .component-comment-toggle.hover.hover,.fpo-component-con .component-comment-toggle.active.hover { color:#222; }

 .fpo-component-con .component-comment-drawer { display:none; background:#eee; border:1px solid #bbb; border-top:none; padding:0 10px 1px 10px; }

 .fpo-component-con .component-comment-drawer .comment-header { display:block; font-size:12; color:#222; text-transform:uppercase; border-bottom:1px solid #444; padding-bottom:2px; margin-bottom:4px; }

 .fpo-component-con .component-comment-drawer p { font-size:12; }

 .fpo { background:#e2e2e2; padding:5px 10px 5px 10px; margin-bottom:15px; }

 /* Not sure if I'm a fan of this margin-bottom. */
/* Processed on Monday, April 11, 2016 at 12:21pm */