 /* line 195, /assets/scss/partials/_mixins.scss */ .nebula-peek,.nebula-iconpeek { display:inline-block; position:relative; overflow:hidden; transition:padding 0.4s easing(easeOutBack); }

 /* line 190, /assets/scss/partials/_mixins.scss */ .nebula-peek:before,.nebula-iconpeek:before { content:"\f061"; font-family:"FontAwesome"; position:absolute; left:-25px; transition:left 0.4s easing(easeOutBack); }

 /* line 191, /assets/scss/partials/_mixins.scss */ .nebula-peek:hover,.nebula-iconpeek:hover { padding-left:25px; }

 /* line 192, /assets/scss/partials/_mixins.scss */ .nebula-peek:hover:before,.nebula-iconpeek:hover:before { left:0; }

 /*
 .element {
 @include yep(opacity, csstransforms){opacity: 0; transform: translateX(10px);}
 @include nope(opacity, csstransforms){visibility: hidden; left: 10px;}
 }
 */ /* line 5, /assets/scss/partials/_helpers.scss */ .nebulaborder { padding:5px; background:#fff; border:1px solid #aaa; }

 /* line 7, /assets/scss/partials/_helpers.scss */ .nebulashadow { position:relative; }

 /* line 8, /assets/scss/partials/_helpers.scss */ /* line 9, /assets/scss/partials/_helpers.scss */ .nebulashadow.floating:after { content:""; position:absolute; top:0; left:0; width:100%; height:100%; -webkit-box-shadow:0 17px 25px -15px rgba(0, 0, 0, 0.4); -moz-box-shadow:0 17px 25px -15px rgba(0, 0, 0, 0.4); -ms-box-shadow:0 17px 25px -15px rgba(0, 0, 0, 0.4); -o-box-shadow:0 17px 25px -15px rgba(0, 0, 0, 0.4); box-shadow:0 17px 25px -15px rgba(0, 0, 0, 0.4); z-index:-1; pointer-events:none; }

 /* line 10, /assets/scss/partials/_helpers.scss */ /* line 11, /assets/scss/partials/_helpers.scss */ .nebulashadow.floating.above:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; -webkit-box-shadow:0 -17px 25px -15px rgba(0, 0, 0, 0.4); -moz-box-shadow:0 -17px 25px -15px rgba(0, 0, 0, 0.4); -ms-box-shadow:0 -17px 25px -15px rgba(0, 0, 0, 0.4); -o-box-shadow:0 -17px 25px -15px rgba(0, 0, 0, 0.4); box-shadow:0 -17px 25px -15px rgba(0, 0, 0, 0.4); z-index:-1; pointer-events:none; }

 /* line 15, /assets/scss/partials/_helpers.scss */ /* line 16, /assets/scss/partials/_helpers.scss */ .nebulashadow.bulging:after { content:""; position:absolute; left:0; right:0; bottom:-13px; width:96%; height:30px; margin:0 auto; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(25px); -moz-filter:blur(25px); -ms-filter:blur(25px); -o-filter:blur(25px); filter:blur(25px); -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; border-radius:50%; -webkit-transform:scaleY(0.3); -moz-transform:scaleY(0.3); -ms-transform:scaleY(0.3); -o-transform:scaleY(0.3); transform:scaleY(0.3); z-index:-1; pointer-events:none; }

 /* line 17, /assets/scss/partials/_helpers.scss */ /* line 18, /assets/scss/partials/_helpers.scss */ .nebulashadow.bulging.above:before { content:""; position:absolute; left:0; right:0; top:-13px; width:96%; height:30px; margin:0 auto; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(25px); -moz-filter:blur(25px); -ms-filter:blur(25px); -o-filter:blur(25px); filter:blur(25px); -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; border-radius:50%; -webkit-transform:scaleY(0.3); -moz-transform:scaleY(0.3); -ms-transform:scaleY(0.3); -o-transform:scaleY(0.3); transform:scaleY(0.3); z-index:-1; pointer-events:none; }

 /* line 22, /assets/scss/partials/_helpers.scss */ /* line 23, /assets/scss/partials/_helpers.scss */ .nebulashadow.curling:before { content:""; position:absolute; bottom:4px; left:10px; height:20px; width:70%; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(6px); -moz-filter:blur(6px); -ms-filter:blur(6px); -o-filter:blur(6px); filter:blur(6px); -webkit-transform:rotate(-3deg); -moz-transform:rotate(-3deg); -ms-transform:rotate(-3deg); -o-transform:rotate(-3deg); transform:rotate(-3deg); z-index:-1; pointer-events:none; }

 /* line 24, /assets/scss/partials/_helpers.scss */ .nebulashadow.curling:after { content:""; position:absolute; bottom:4px; right:10px; height:20px; width:70%; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(6px); -moz-filter:blur(6px); -ms-filter:blur(6px); -o-filter:blur(6px); filter:blur(6px); -webkit-transform:rotate(3deg); -moz-transform:rotate(3deg); -ms-transform:rotate(3deg); -o-transform:rotate(3deg); transform:rotate(3deg); z-index:-1; pointer-events:none; }

 /* line 27, /assets/scss/partials/_helpers.scss */ /* line 28, /assets/scss/partials/_helpers.scss */ .nebulashadow.hovering:after { content:""; position:absolute; left:0; right:0; bottom:-30px; width:98%; height:30px; margin:0 auto; background:rgba(0, 0, 0, 0.15); -webkit-filter:blur(15px); -moz-filter:blur(15px); -ms-filter:blur(15px); -o-filter:blur(15px); filter:blur(15px); -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; border-radius:50%; -webkit-transform:scaleY(0.2); -moz-transform:scaleY(0.2); -ms-transform:scaleY(0.2); -o-transform:scaleY(0.2); transform:scaleY(0.2); z-index:-1; pointer-events:none; }

 /* line 29, /assets/scss/partials/_helpers.scss */ /* line 30, /assets/scss/partials/_helpers.scss */ .nebulashadow.hovering.above:before { content:""; position:absolute; left:0; right:0; top:-30px; width:98%; height:30px; margin:0 auto; background:rgba(0, 0, 0, 0.15); -webkit-filter:blur(15px); -moz-filter:blur(15px); -ms-filter:blur(15px); -o-filter:blur(15px); filter:blur(15px); -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; border-radius:50%; -webkit-transform:scaleY(0.2); -moz-transform:scaleY(0.2); -ms-transform:scaleY(0.2); -o-transform:scaleY(0.2); transform:scaleY(0.2); z-index:-1; pointer-events:none; }

 /* line 34, /assets/scss/partials/_helpers.scss */ /* line 35, /assets/scss/partials/_helpers.scss */ .nebulashadow.anchored-right:after { content:""; position:absolute; bottom:0; left:10px; height:20px; width:92%; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(6px); -moz-filter:blur(6px); -ms-filter:blur(6px); -o-filter:blur(6px); filter:blur(6px); -webkit-transform:rotate(-2deg); -moz-transform:rotate(-2deg); -ms-transform:rotate(-2deg); -o-transform:rotate(-2deg); transform:rotate(-2deg); z-index:-1; pointer-events:none; }

 /* line 36, /assets/scss/partials/_helpers.scss */ /* line 37, /assets/scss/partials/_helpers.scss */ .nebulashadow.anchored-right.above:before { content:""; position:absolute; top:0; left:10px; height:20px; width:92%; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(6px); -moz-filter:blur(6px); -ms-filter:blur(6px); -o-filter:blur(6px); filter:blur(6px); -webkit-transform:rotate(2deg); -moz-transform:rotate(2deg); -ms-transform:rotate(2deg); -o-transform:rotate(2deg); transform:rotate(2deg); z-index:-1; pointer-events:none; }

 /* line 41, /assets/scss/partials/_helpers.scss */ /* line 42, /assets/scss/partials/_helpers.scss */ .nebulashadow.anchored-left:after { content:""; position:absolute; bottom:0; right:10px; height:20px; width:92%; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(6px); -moz-filter:blur(6px); -ms-filter:blur(6px); -o-filter:blur(6px); filter:blur(6px); -webkit-transform:rotate(2deg); -moz-transform:rotate(2deg); -ms-transform:rotate(2deg); -o-transform:rotate(2deg); transform:rotate(2deg); z-index:-1; pointer-events:none; }

 /* line 43, /assets/scss/partials/_helpers.scss */ /* line 44, /assets/scss/partials/_helpers.scss */ .nebulashadow.anchored-left.above:before { content:""; position:absolute; top:0; right:10px; height:20px; width:92%; background:rgba(0, 0, 0, 0.4); -webkit-filter:blur(6px); -moz-filter:blur(6px); -ms-filter:blur(6px); -o-filter:blur(6px); filter:blur(6px); -webkit-transform:rotate(-2deg); -moz-transform:rotate(-2deg); -ms-transform:rotate(-2deg); -o-transform:rotate(-2deg); transform:rotate(-2deg); z-index:-1; pointer-events:none; }

 /* line 48, /assets/scss/partials/_helpers.scss */ /* line 49, /assets/scss/partials/_helpers.scss */ .nebulashadow.above:after { display:none; }

 /* line 52, /assets/scss/partials/_helpers.scss */ /* line 53, /assets/scss/partials/_helpers.scss */ .nebulashadow.below:after { display:block; }

 /* line 56, /assets/scss/partials/_helpers.scss */ .nebulashadow.inner-top { box-shadow:inset 0 17px 25px -15px rgba(0, 0, 0, 0.4); }

 /* line 57, /assets/scss/partials/_helpers.scss */ .nebulashadow.inner-bottom { box-shadow:inset 0 -17px 25px -15px rgba(0, 0, 0, 0.4); }

 /* line 58, /assets/scss/partials/_helpers.scss */ .nebulashadow.inner-top.inner-bottom { box-shadow:inset 0 17px 25px -15px rgba(0, 0, 0, 0.4), inset 0 -17px 25px -15px rgba(0, 0, 0, 0.4); }

 /* line 60, /assets/scss/partials/_helpers.scss */ /* line 62, /assets/scss/partials/_helpers.scss */ .ie .nebulashadow:after,.microsoft_edge .nebulashadow:after { display:none; }

 /* line 63, /assets/scss/partials/_helpers.scss */ .ie .nebulashadow:before,.microsoft_edge .nebulashadow:before { display:none; }

 /* line 67, /assets/scss/partials/_helpers.scss */ .nebulaframe { position:relative; padding:5px; background:#fff; border:1px solid #aaa; }

 /* line 68, /assets/scss/partials/_helpers.scss */ a.nebulaframe { border:none; }

 /* line 73, /assets/scss/partials/_helpers.scss */ .nebula-vmiddle,.valign > div { position:relative; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); }

 /* line 76, /assets/scss/partials/_helpers.scss */ .filtereditem { display:none; }

 /* line 82, /assets/scss/partials/_helpers.scss */ .btn { cursor:pointer; }

 /* line 83, /assets/scss/partials/_helpers.scss */ .btn-primary:focus,.btn-success:focus,.btn-info:focus,.btn-warning:focus,.btn-danger:focus { color:#fff; }

 /* line 89, /assets/scss/partials/_helpers.scss */ .nebula-flex-first { order:-1; }

 /* line 96, /assets/scss/partials/_helpers.scss */ /* line 97, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) hr { display:block; height:1px; border:0; border-top:1px solid #ccc; background-color:#fff; background-color:rgba(255, 255, 255, 1); margin:3px 0; padding:0; }

 /* line 99, /assets/scss/partials/_helpers.scss */ .rgba body:not(.wp-admin) hr { display:block; height:1px; border:0; margin:3px 0; padding:0; /* mix-blend-mode: screen; */ }

 /* line 100, /assets/scss/partials/_helpers.scss */ .rgba body:not(.wp-admin) hr:before { content:''; position:relative; top:-1px; height:1px; display:block; background-color:#000; background-color:rgba(0, 0, 0, 0.2); /* mix-blend-mode: multiply; */ }

 /* line 101, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) hr.zero { margin:0; }

 /* line 104, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .ir { background-color:transparent; border:0; overflow:hidden; *text-indent:-9999px; }

 /* line 105, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .ir:before { content:""; display:block; width:0; height:100%; }

 /* line 107, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .hidden { display:none !important; visibility:hidden; }

 /* line 108, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }

 /* line 109, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .visuallyhidden.focusable:active,body:not(.wp-admin) .visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

 /* line 112, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .invisible { visibility:hidden; }

 /* line 113, /assets/scss/partials/_helpers.scss */ /* line 156, /assets/scss/partials/_mixins.scss */ body:not(.wp-admin) .clearfix:before,body:not(.wp-admin) .clearfix:after { content:""; display:table; }

 /* line 158, /assets/scss/partials/_mixins.scss */ body:not(.wp-admin) .clearfix:after { clear:both; }

 /* line 114, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) div.space { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }

 /* line 115, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .avoid-clicks { pointer-events:none; }

 /* line 116, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .allow-clicks { pointer-events:all; }

 /* line 117, /assets/scss/partials/_helpers.scss */ body:not(.wp-admin) .filtered { display:none; }

 /* line 120, /assets/scss/partials/_helpers.scss */ .sticky { position:sticky; top:0; }

 /* line 122, /assets/scss/partials/_helpers.scss */ .aligncenter,.align-center { display:block; margin:0 auto; }

 /* line 123, /assets/scss/partials/_helpers.scss */ .alignleft,.align-left { float:left; }

 /* line 124, /assets/scss/partials/_helpers.scss */ .alignright,.align-right { float:right; }

 /* line 125, /assets/scss/partials/_helpers.scss */ .text-left { text-align:left; }

 /* line 126, /assets/scss/partials/_helpers.scss */ .text-center { text-align:center; }

 /* line 127, /assets/scss/partials/_helpers.scss */ .text-right { text-align:right; }

 /* line 128, /assets/scss/partials/_helpers.scss */ .wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px; }

 /* line 137, /assets/scss/partials/_helpers.scss */ .ig-b- { display:inline-block; transition:none; }

 /* line 138, /assets/scss/partials/_helpers.scss */ .ig-b-:hover { background-position:0 -60px; }

 /* line 139, /assets/scss/partials/_helpers.scss */ .ig-b-:active { background-position:0 -120px; }

 /* line 140, /assets/scss/partials/_helpers.scss */ .ig-b- img { visibility:hidden; }

 /* line 142, /assets/scss/partials/_helpers.scss */ .ig-b-v-24 { width:137px; height:24px; background:url("https://badges.instagram.com/static/assets/img/ig-badge-view-sprite-24.png") no-repeat 0 0; }

 @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) { /* line 144, /assets/scss/partials/_helpers.scss */ .ig-b-v-24 { background-image:url("https://badges.instagram.com/static/assets/img/ig-badge-view-sprite-24@2x.png"); background-size:160px 178px; }

 }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".doc"]:not(.no-icon):not(.btn),li.icon a[href$=".doc"] { text-decoration:none; border-bottom:1px dotted #2b5797; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".doc"]:not(.no-icon):not(.btn):before,li.icon a[href$=".doc"]:before { content:"\f1c2"; font-family:"FontAwesome"; color:#2b5797; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".docx"]:not(.no-icon):not(.btn),li.icon a[href$=".docx"] { text-decoration:none; border-bottom:1px dotted #2b5797; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".docx"]:not(.no-icon):not(.btn):before,li.icon a[href$=".docx"]:before { content:"\f1c2"; font-family:"FontAwesome"; color:#2b5797; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".xls"]:not(.no-icon):not(.btn),li.icon a[href$=".xls"] { text-decoration:none; border-bottom:1px dotted #1e7145; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".xls"]:not(.no-icon):not(.btn):before,li.icon a[href$=".xls"]:before { content:"\f1c3"; font-family:"FontAwesome"; color:#1e7145; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".xlsx"]:not(.no-icon):not(.btn),li.icon a[href$=".xlsx"] { text-decoration:none; border-bottom:1px dotted #1e7145; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".xlsx"]:not(.no-icon):not(.btn):before,li.icon a[href$=".xlsx"]:before { content:"\f1c3"; font-family:"FontAwesome"; color:#1e7145; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".ppt"]:not(.no-icon):not(.btn),li.icon a[href$=".ppt"] { text-decoration:none; border-bottom:1px dotted #d04525; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".ppt"]:not(.no-icon):not(.btn):before,li.icon a[href$=".ppt"]:before { content:"\f1c4"; font-family:"FontAwesome"; color:#d04525; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".pptx"]:not(.no-icon):not(.btn),li.icon a[href$=".pptx"] { text-decoration:none; border-bottom:1px dotted #d04525; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".pptx"]:not(.no-icon):not(.btn):before,li.icon a[href$=".pptx"]:before { content:"\f1c4"; font-family:"FontAwesome"; color:#d04525; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".pdf"]:not(.no-icon):not(.btn),li.icon a[href$=".pdf"] { text-decoration:none; border-bottom:1px dotted #eb3b00; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".pdf"]:not(.no-icon):not(.btn):before,li.icon a[href$=".pdf"]:before { content:"\f1c1"; font-family:"FontAwesome"; color:#eb3b00; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".pdfx"]:not(.no-icon):not(.btn),li.icon a[href$=".pdfx"] { text-decoration:none; border-bottom:1px dotted #eb3b00; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".pdfx"]:not(.no-icon):not(.btn):before,li.icon a[href$=".pdfx"]:before { content:"\f1c1"; font-family:"FontAwesome"; color:#eb3b00; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".zip"]:not(.no-icon):not(.btn),li.icon a[href$=".zip"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".zip"]:not(.no-icon):not(.btn):before,li.icon a[href$=".zip"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".zipx"]:not(.no-icon):not(.btn),li.icon a[href$=".zipx"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".zipx"]:not(.no-icon):not(.btn):before,li.icon a[href$=".zipx"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".rar"]:not(.no-icon):not(.btn),li.icon a[href$=".rar"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".rar"]:not(.no-icon):not(.btn):before,li.icon a[href$=".rar"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".gz"]:not(.no-icon):not(.btn),li.icon a[href$=".gz"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".gz"]:not(.no-icon):not(.btn):before,li.icon a[href$=".gz"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".tar"]:not(.no-icon):not(.btn),li.icon a[href$=".tar"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".tar"]:not(.no-icon):not(.btn):before,li.icon a[href$=".tar"]:before { content:"\f1c6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".txt"]:not(.no-icon):not(.btn),li.icon a[href$=".txt"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".txt"]:not(.no-icon):not(.btn):before,li.icon a[href$=".txt"]:before { content:"\f0f6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 159, /assets/scss/partials/_helpers.scss */ a[href$=".rtf"]:not(.no-icon):not(.btn),li.icon a[href$=".rtf"] { text-decoration:none; border-bottom:1px dotted #777; }

 /* line 160, /assets/scss/partials/_helpers.scss */ a[href$=".rtf"]:not(.no-icon):not(.btn):before,li.icon a[href$=".rtf"]:before { content:"\f0f6"; font-family:"FontAwesome"; color:#777; margin-right:5px; font-weight:normal; }

 /* line 155, /assets/scss/partials/_helpers.scss */ a.icon[href$=".html"] { text-decoration:none; border-bottom:1px dotted #f1672c; }

 /* line 156, /assets/scss/partials/_helpers.scss */ a.icon[href$=".html"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#f1672c; margin-right:5px; font-weight:normal; }

 /* line 155, /assets/scss/partials/_helpers.scss */ a.icon[href$=".php"] { text-decoration:none; border-bottom:1px dotted #5a68a5; }

 /* line 156, /assets/scss/partials/_helpers.scss */ a.icon[href$=".php"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#5a68a5; margin-right:5px; font-weight:normal; }

 /* line 155, /assets/scss/partials/_helpers.scss */ a.icon[href$=".js"] { text-decoration:none; border-bottom:1px dotted #f1bf26; }

 /* line 156, /assets/scss/partials/_helpers.scss */ a.icon[href$=".js"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#f1bf26; margin-right:5px; font-weight:normal; }

 /* line 155, /assets/scss/partials/_helpers.scss */ a.icon[href$=".css"] { text-decoration:none; border-bottom:1px dotted #30a9dc; }

 /* line 156, /assets/scss/partials/_helpers.scss */ a.icon[href$=".css"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#30a9dc; margin-right:5px; font-weight:normal; }

 /* line 155, /assets/scss/partials/_helpers.scss */ a.icon[href$=".scss"] { text-decoration:none; border-bottom:1px dotted #30a9dc; }

 /* line 156, /assets/scss/partials/_helpers.scss */ a.icon[href$=".scss"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#30a9dc; margin-right:5px; font-weight:normal; }

 /* line 155, /assets/scss/partials/_helpers.scss */ a.icon[href$=".swf"] { text-decoration:none; border-bottom:1px dotted #c31e24; }

 /* line 156, /assets/scss/partials/_helpers.scss */ a.icon[href$=".swf"]:before { content:"\f1c9"; font-family:"FontAwesome"; color:#c31e24; margin-right:5px; font-weight:normal; }

 /* line 178, /assets/scss/partials/_helpers.scss */ a.white,li.icon.white a { color:#fff; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.white:hover,li.icon.white a:hover { color:#ccc; }

 /* line 179, /assets/scss/partials/_helpers.scss */ a.white:before,li.icon.white a:before { color:#fff !important; }

 /* line 187, /assets/scss/partials/_helpers.scss */ .btn.btn-brand,.btn.btn-brand:visited { background-color:#0098d7; border-color:#0098d7; color:#fff; }

 /* line 188, /assets/scss/partials/_helpers.scss */ .btn.btn-brand:hover,.btn.btn-brand:visited:hover,.btn.btn-brand:focus,.btn.btn-brand:visited:focus,.btn.btn-brand:active,.btn.btn-brand:visited:active { background:#0074a4; border-color:#0074a4; color:#fff; }

 /* line 191, /assets/scss/partials/_helpers.scss */ .btn.btn-brand-secondary,.btn.btn-brand-secondary:visited { background-color:#95d600; border-color:#95d600; color:#fff; }

 /* line 192, /assets/scss/partials/_helpers.scss */ .btn.btn-brand-secondary:hover,.btn.btn-brand-secondary:visited:hover,.btn.btn-brand-secondary:focus,.btn.btn-brand-secondary:visited:focus,.btn.btn-brand-secondary:active,.btn.btn-brand-secondary:visited:active { background:#71a300; border-color:#71a300; color:#fff; }

 /* line 195, /assets/scss/partials/_helpers.scss */ a.phg { margin-left:3px; padding-left:15px; background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/phg/phg-symbol.svg") 0 6px no-repeat; background-size:13px 8px; text-decoration:none !important; }

 /* line 196, /assets/scss/partials/_helpers.scss */ a.phg.white { background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/phg/phg-symbol-white.svg") 0 6px no-repeat; background-size:13px 8px; }

 /* line 197, /assets/scss/partials/_helpers.scss */ a.phg.white span { color:#fff; }

 /* line 198, /assets/scss/partials/_helpers.scss */ a.phg.white:hover span { color:#aaa; }

 /* line 200, /assets/scss/partials/_helpers.scss */ a.phg span { -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 201, /assets/scss/partials/_helpers.scss */ a.phg span.pinckney { color:#0098d7; }

 /* line 202, /assets/scss/partials/_helpers.scss */ a.phg span.hugo { color:#95d600; }

 /* line 203, /assets/scss/partials/_helpers.scss */ a.phg span.group { color:#9fa1a4; }

 /* line 205, /assets/scss/partials/_helpers.scss */ /* line 206, /assets/scss/partials/_helpers.scss */ a.phg:hover span.pinckney { color:#0098d7; }

 /* line 207, /assets/scss/partials/_helpers.scss */ a.phg:hover span.hugo { color:#95d600; }

 /* line 208, /assets/scss/partials/_helpers.scss */ a.phg:hover span.group { color:#9fa1a4; }

 /* line 211, /assets/scss/partials/_helpers.scss */ a.phg.anim { margin-left:0; padding-left:0; text-decoration:none !important; background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/phg/phg-symbol.svg") -15px 6px no-repeat; background-size:13px 8px; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 212, /assets/scss/partials/_helpers.scss */ a.phg.anim span { margin-right:3px; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 213, /assets/scss/partials/_helpers.scss */ a.phg.anim span:last-child { margin-right:0; }

 /* line 214, /assets/scss/partials/_helpers.scss */ a.phg.anim span.pinckney { color:inherit; }

 /* line 215, /assets/scss/partials/_helpers.scss */ a.phg.anim span.hugo { color:inherit; }

 /* line 216, /assets/scss/partials/_helpers.scss */ a.phg.anim span.group { color:inherit; }

 /* line 218, /assets/scss/partials/_helpers.scss */ a.phg.anim:hover { margin-left:3px; padding-left:15px; background:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/phg/phg-symbol.svg") 0 6px no-repeat; background-size:13px 8px; }

 /* line 219, /assets/scss/partials/_helpers.scss */ a.phg.anim:hover span { margin-right:0; }

 /* line 220, /assets/scss/partials/_helpers.scss */ a.phg.anim:hover span.pinckney { color:#0098d7; }

 /* line 221, /assets/scss/partials/_helpers.scss */ a.phg.anim:hover span.hugo { color:#95d600; }

 /* line 222, /assets/scss/partials/_helpers.scss */ a.phg.anim:hover span.group { color:#9fa1a4; }

 /* line 233, /assets/scss/partials/_helpers.scss */ a.facebook { color:#3b5998; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.facebook:hover { color:#263961; }

 /* line 233, /assets/scss/partials/_helpers.scss */ a.twitter { color:#55acee; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.twitter:hover { color:#1689e0; }

 /* line 233, /assets/scss/partials/_helpers.scss */ a.googleplus { color:#d73d32; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.googleplus:hover { color:#9e271f; }

 /* line 235, /assets/scss/partials/_helpers.scss */ a.linkedin { color:#0077b5; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.linkedin:hover { color:#000; }

 /* line 235, /assets/scss/partials/_helpers.scss */ a.github { color:#333; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.github:hover { color:#4183c4; }

 /* line 233, /assets/scss/partials/_helpers.scss */ a.youtube { color:#cd201f; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.youtube:hover { color:#8b1615; }

 /* line 233, /assets/scss/partials/_helpers.scss */ a.instagram { color:#3f729b; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.instagram:hover { color:#294a65; }

 /* line 235, /assets/scss/partials/_helpers.scss */ a.soundcloud { color:#f80; }

 /* line 28, /assets/scss/partials/_mixins.scss */ a.soundcloud:hover { color:#f30; }

 /* line 254, /assets/scss/partials/_helpers.scss */ .border-red,.outline-red { outline:1px solid red; }

 /* line 255, /assets/scss/partials/_helpers.scss */ .border-orange,.outline-orange { outline:1px solid orange; }

 /* line 256, /assets/scss/partials/_helpers.scss */ .border-yellow,.outline-yellow { outline:1px solid yellow; }

 /* line 257, /assets/scss/partials/_helpers.scss */ .border-green,.outline-green { outline:1px solid green; }

 /* line 258, /assets/scss/partials/_helpers.scss */ .border-blue,.border-indigo,.outline-blue,.outline-indigo { outline:1px solid blue; }

 /* line 259, /assets/scss/partials/_helpers.scss */ .border-purple,.border-violet,.outline-purple,.outline-violet { outline:1px solid purple; }

 /* line 261, /assets/scss/partials/_helpers.scss */ .background-red,.bg-red { background:red; }

 /* line 262, /assets/scss/partials/_helpers.scss */ .background-orange,.bg-orange { background:orange; }

 /* line 263, /assets/scss/partials/_helpers.scss */ .background-yellow,.bg-yellow { background:yellow; }

 /* line 264, /assets/scss/partials/_helpers.scss */ .background-green,.bg-green { background:green; }

 /* line 265, /assets/scss/partials/_helpers.scss */ .background-blue,.bg-blue,.background-indigo,.bg-indigo { background:blue; }

 /* line 266, /assets/scss/partials/_helpers.scss */ .background-purple,.bg-purple,.background-violet,.bg-violet { background:purple; }

 /* line 13,  */ #wpadminbar i { -webkit-font-smoothing:antialiased; }

 /* line 18,  */ #adminmenu .wp-submenu a:focus,#adminmenu .wp-submenu a:hover,#adminmenu a:hover,#adminmenu li.menu-top > a:focus { color:#0098d7; }

 /* line 23,  */ #adminmenu li.menu-top:hover,#adminmenu li.opensub > a.menu-top,#adminmenu li > a.menu-top:focus { color:#0098d7; }

 /* line 28,  */ #adminmenu li a:focus div.wp-menu-image:before,#adminmenu li.opensub div.wp-menu-image:before,#adminmenu li:hover div.wp-menu-image:before { color:#0098d7; }

 /* line 33,  */ #collapse-button:focus,#collapse-button:hover { color:#0098d7; }

 /* line 37,  */ #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,#adminmenu .wp-menu-arrow,#adminmenu .wp-menu-arrow div,#adminmenu li.current a.menu-top,#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,.folded #adminmenu li.current.menu-top,.folded #adminmenu li.wp-has-current-submenu { background:#0098d7; color:#fff; }

 /* line 45,  */ #wpadminbar .ab-top-menu > li.hover > .ab-item,#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus { color:#0098d7; }

 /* line 46,  */ #wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label,#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,#wpadminbar > #wp-toolbar li.hover span.ab-label { color:#0098d7; }

 /* line 49,  */ #wpadminbar li.hover > .ab-item i,#wpadminbar:not(.mobile) li:hover > .ab-item i,#wpadminbar:not(.mobile) li > .ab-item:focus i { color:#0098d7 !important; }

 /* line 53,  */ #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,#wpadminbar .quicklinks .menupop ul li a:focus,#wpadminbar .quicklinks .menupop ul li a:focus strong,#wpadminbar .quicklinks .menupop ul li a:hover,#wpadminbar .quicklinks .menupop ul li a:hover strong,#wpadminbar .quicklinks .menupop.hover ul li a:focus,#wpadminbar .quicklinks .menupop.hover ul li a:hover,#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,#wpadminbar li #adminbarsearch.adminbar-focused:before,#wpadminbar li .ab-item:focus .ab-icon:before,#wpadminbar li .ab-item:focus:before,#wpadminbar li a:focus .ab-icon:before,#wpadminbar li.hover .ab-icon:before,#wpadminbar li.hover .ab-item:before,#wpadminbar li:hover #adminbarsearch:before,#wpadminbar li:hover .ab-icon:before,#wpadminbar li:hover .ab-item:before,#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover { color:#0098d7; }

 /* line 56,  */ .filtereditem { display:none !important; }

 /* line 58,  */ .nebula_help_link { text-decoration:none; }

 /* line 59,  */ i.help { cursor:help; color:#aaa; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 60,  */ i.help:hover { color:#444; }

 /* line 63,  */ #screen-options-wrap label img { display:none; }

 /* line 65,  */ .acf_postbox p.label { display:inline-block; }

 /* line 67,  */ .admin-user-info { text-transform:capitalize; }

 /* line 69,  */ #wpbody-content { padding-bottom:40px; }

 /* line 70,  */ #dashboard-widgets .meta-box-sortables { min-height:0; }

 /* line 71,  */ .metabox-holder .postbox-container .empty-container { height:100px; margin-bottom:25px !important; }

 /* line 73,  */ li.comment-count { display:none; }

 /* line 75,  */ .form-table .helper { padding:0 10px; margin:10px 0; background:#f9f9f9; border-radius:8px; }

 /* line 77,  */ th#id { width:50px; }

 /* line 80,  */ /* line 81,  */ #phg_developer_info .secured-connection i { color:#58c026; }

 /* line 82,  */ #phg_developer_info #testloadcon { pointer-events:none; opacity:0; visibility:hidden; display:none; }

 /* line 83,  */ #phg_developer_info form.searchfiles { display:inline-block; margin-bottom:10px; width:90%; }

 /* line 84,  */ #phg_developer_info form.searchfiles input.findterm { padding:2px 5px; font-size:12px; border-radius:4px; width:46%; }

 /* line 85,  */ #phg_developer_info form.searchfiles .searchdirectory { font-size:12px; height:23px; vertical-align:top; }

 /* line 86,  */ #phg_developer_info form.searchfiles input.searchterm { font-size:12px; line-height:11px; height:22px; margin:1px 1px; outline:none !important; }

 /* line 88,  */ #phg_developer_info .search_results { max-height:0; opacity:0; font-size:10px; background:#f6f6f6; padding:5px; border:1px solid #ddd; border-radius:4px; overflow:auto; white-space:nowrap; -webkit-transition:all 1s; -moz-transition:all 1s; -ms-transition:all 1s; -o-transition:all 1s; transition:all 1s; }

 /* line 89,  */ #phg_developer_info .search_results.done { max-height:500px; opacity:1; }

 /* line 90,  */ #phg_developer_info .search_results .resulttext { font-size:10px; margin:0; }

 /* line 95,  */ /* line 96,  */ #todo_manager .todoresults_title { margin-bottom:0; }

 /* line 97,  */ #todo_manager .todoresults_title .todo_help_icon { float:right; font-size:10px; }

 /* line 99,  */ #todo_manager .todo_results { font-size:10px; background:#f6f6f6; padding:5px; margin-top:10px; border:1px solid #ddd; border-radius:4px; overflow:auto; white-space:nowrap; height:350px; resize:vertical; }

 /* line 100,  */ #todo_manager .todo_results .todofilewrap { margin-bottom:10px; }

 /* line 101,  */ #todo_manager .todo_results .todofilewrap.todo-theme-parent { display:none; }

 /* line 103,  */ #todo_manager .todo_results .todofilewrap .todofilename { font-size:12px; margin:0; }

 /* line 104,  */ #todo_manager .todo_results .todofilewrap .themenote { display:none; }

 /* line 105,  */ /* line 106,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-category-nebula .todocategory { background:#0098d7; }

 /* line 107,  */ #todo_manager .todo_results .todofilewrap .linewrap .todocategory { background:#ccc; color:#fff; padding:0 5px; text-align:center; border-radius:10px; text-transform:uppercase; font-size:8px; }

 /* line 108,  */ #todo_manager .todo_results .todofilewrap .linewrap .todocategory i { color:#ccc; }

 /* line 110,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-priority-5 .todocategory { background:#ca3838 !important; }

 /* line 111,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-priority-4 .todocategory { background:#e38a2c; }

 /* line 112,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-priority-3 .todocategory { background:#dda65c; }

 /* line 113,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-priority-2 .todocategory { background:#d3bd9f; }

 /* line 114,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-priority-1 .todocategory,#todo_manager .todo_results .todofilewrap .linewrap.todo-priority- .todocategory { background:#ccc; }

 /* line 116,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-priority-0 { display:none; }

 /* line 117,  */ #todo_manager .todo_results .todofilewrap .linewrap.todo-priority-0 .todocategory { background:#0098d7; }

 /* line 119,  */ #todo_manager .todo_results .todofilewrap .linewrap .todoresult { font-size:10px; margin:0; padding:0; }

 /* line 126,  */ .linenumber { font-weight:bold; }

 /* line 127,  */ .precon { display:none; resize:none; }

 /* line 128,  */ .precon pre.actualline { display:table; font-family:monospace; font-size:10px; margin:0; color:#666; background:#fff; padding:2px 5px; border-radius:5px; resize:none; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 131,  */ /* line 132,  */ .nebula-admin-notice a { text-decoration:none; }

 /* line 136,  */ /* line 137,  */ .themes-php #message2.updated.notice.is-dismissible.below-h2 { display:none; }

 /* line 138,  */ .themes-php #setting-error-tgmpa { display:none !important; }

 /* line 142,  */ .widefat td,.widefat td ol,.widefat td p,.widefat td ul { font-size:12px !important; }

 /* line 143,  */ .fixed .column-categories,.fixed .column-rel,.fixed .column-response,.fixed .column-role,.fixed .column-tags { font-size:10px; width:10%; }

 /* line 144,  */ .fixed .column-author,.fixed .column-date,.fixed .column-format,.fixed .column-links,.fixed .column-parent,.fixed .column-posts { width:10%; }

 /* line 145,  */ .fixed .column-comments { width:3%; }

 /* line 146,  */ .widefat .column-id { padding-left:0 !important; padding-right:0 !important; font-size:10px !important; }

 /* line 147,  */ .row-title,td.plugin-title strong,td.post-title strong,.row-actions,.plugin-version-author-uri,td.column-title strong,td.plugin-title strong { font-size:12px !important; }

 /* line 151,  */ #wpseo-score .yst-traffic-light { height:20px; padding-top:4px; }

 /* line 153,  */ .wpseo-admin-page #sidebar-container { display:none; }

 /* line 154,  */ #wpseo-conf p.settings_error { display:none !important; visibility:hidden; height:0; width:0; opacity:0; pointer-events:none; }

 /* line 155,  */ #wpseo-conf p.settings_error a { display:none !important; visibility:hidden; height:0; width:0; opacity:0; pointer-events:none; }

 /* line 157,  */ .widefat .column-wpseo-score { font-size:10px !important; /* text-align: center; */ /* background: #fafafa; */ }

 /* line 158,  */ .wpseo-score-icon { margin-left:0; width:10px !important; height:10px; }

 /* line 159,  */ .widefat .column-wpseo-title { width:200px; font-size:10px !important; background:#fafafa; }

 /* line 160,  */ .widefat .column-wpseo-metadesc { width:200px; font-size:10px !important; background:#fafafa; }

 /* line 161,  */ .widefat .column-wpseo-focuskw { width:100px; font-size:10px !important; background:#fafafa; }

 /* line 163,  */ #dashboard_right_now a[href$="options-reading.php"] { color:#ca3838 !important; font-weight:700; }

 /* line 164,  */ #dashboard_right_now a[href$="options-reading.php"]:before { content:'!'; background:#ca3838; color:#fff; padding:0 7px; margin-right:5px; }

 /* line 167,  */ ul.admin-menu-tree-page-tree .admin-menu-tree-page-expand { width:19px; height:20px; }

 /* line 170,  */ /* line 172,  */ /* line 173,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i { background-position:0px 0px; background-repeat:no-repeat; }

 /* line 174,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i.mce-i-nebulaicon,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i.mce-i-nebulaicon { background-image:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/admin/nebulaicon.png"); }

 /* line 175,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i.mce-i-nebulamap,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i.mce-i-nebulamap { background-image:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/admin/nebulamap.png"); }

 /* line 176,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i.mce-i-nebulacode,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i.mce-i-nebulacode { background-image:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/admin/nebulacode.png"); }

 /* line 177,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i.mce-i-nebulacolgrid,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i.mce-i-nebulacolgrid { background-image:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/admin/nebulacolgrid.png"); }

 /* line 178,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i.mce-i-nebulavideo,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i.mce-i-nebulavideo { background-image:url("https://gearside.com/nebula/wp-content/themes/Nebula-master/assets/img/admin/nebulavideo.png"); }

 /* line 181,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon:focus button i,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon:focus button i,#wp-fullscreen-buttons .mce-btn.mce-nebula-icon:hover button i,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon:hover button i { background-position:0px -20px; background-repeat:no-repeat; }

 /* line 183,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon[aria-expanded="true"],.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon[aria-expanded="true"] { background:#ebebeb; border-color:#999; -webkit-box-shadow:inset 0 2px 5px -3px rgba(0, 0, 0, .3); -moz-box-shadow:inset 0 2px 5px -3px rgba(0, 0, 0, .3); box-shadow:inset 0 2px 5px -3px rgba(0, 0, 0, .3); }

 /* line 184,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon[aria-expanded="true"] i,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon[aria-expanded="true"] i { background-position:0px -20px; background-repeat:no-repeat; }

 /* line 189,  */ #nebula-visitor-data { margin-bottom:50px; }

 /* line 191,  */ /* line 192,  */ #nebula-visitor-data .dataTables_wrapper thead { background-color:#0098d7; color:#fff; }

 /* line 193,  */ #nebula-visitor-data .dataTables_wrapper thead td { text-align:center !important; }

 /* line 194,  */ #nebula-visitor-data .dataTables_wrapper thead td.sorting_asc,#nebula-visitor-data .dataTables_wrapper thead td.sorting_desc { background-color:#0074a4; }

 /* line 199,  */ /* line 200,  */ #nebula-visitor-data .dataTables_wrapper tbody td { font-size:11px; }

 /* line 203,  */ #nebula-visitor-data .dataTables_wrapper .known { color:#5cb85c; }

 /* line 204,  */ #nebula-visitor-data .dataTables_wrapper .you td { font-style:italic; font-weight:600; }

 /* line 206,  */ #nebula-visitor-data .dataTables_wrapper td[data-similar="traits"] { display:none; }

 /* line 207,  */ /* line 208,  */ #nebula-visitor-data .dataTables_wrapper tr:not(.selected) td.ip_address.similar-datapoint { color:orange; }

 /* line 209,  */ #nebula-visitor-data .dataTables_wrapper tr:not(.selected) td.user_agent.similar-datapoint { color:orange; }

 /* line 210,  */ #nebula-visitor-data .dataTables_wrapper tr:not(.selected) td.fingerprint.similar-datapoint { color:orange; }

 /* line 214,  */ #nebula-visitor-data .dataTables_wrapper .hide_column { display:none; }

 /* line 215,  */ #nebula-visitor-data .dataTables_wrapper .ajaxrow { cursor:pointer; }

 /* line 217,  */ #nebula-visitor-data .dataTables_wrapper td { font-size:12px; text-align:center; white-space:nowrap; }

 /* line 219,  */ #nebula-visitor-data .dataTables_wrapper .moreinfo { cursor:help; }

 /* line 220,  */ #nebula-visitor-data .dataTables_wrapper .zerovalue { color:rgba(0, 0, 0, 0.2); }

 /* line 222,  */ #nebula-visitor-data .dataTables_wrapper .dataTables_empty { text-align:left; }

 /* line 226,  */ #nebula-visitor-data #user-details-filter-con { opacity:0; transition:all 0.25s; }

 /* line 227,  */ #nebula-visitor-data #user-details-filter-con #user-details-filter { display:inline-block; max-width:137px; }

 /* line 229,  */ #nebula-visitor-data #user-details-con { margin-top:6px; outline:1px solid #b0bed9; }

 /* line 230,  */ #nebula-visitor-data #user-details-con .user-title-bar { padding:3px 10px 4px 10px; background:#b0bed9; }

 /* line 231,  */ #nebula-visitor-data #user-details-con .user-title-bar p { margin:0; }

 /* line 234,  */ #nebula-visitor-data #user-details-con #detail-results { margin-top:5px; }

 /* line 236,  */ #nebula-visitor-data #user-details-con .visitor-notice-item { text-align:center; }

 /* line 237,  */ #nebula-visitor-data #user-details-con .visitor-notice-item:last-of-type { border-bottom:1px dotted #000; margin-bottom:15px; }

 /* line 240,  */ #nebula-visitor-data #user-details-con #user-details { padding:10px; }

 /* line 241,  */ #nebula-visitor-data #user-details-con #user-details p.select-a-visitor { color:#999; }

 /* line 244,  */ #nebula-visitor-data #user-details-con table#score-legend { width:100%; }

 /* line 245,  */ #nebula-visitor-data #user-details-con table#score-legend td { width:33.33%; text-align:center; }

 /* line 248,  */ #nebula-visitor-data #user-details-con .human-label { text-transform:capitalize; }

 /* line 249,  */ /* line 250,  */ #nebula-visitor-data #user-details-con .user-data-value-con ol { margin:0; }

 /* line 251,  */ #nebula-visitor-data #user-details-con .user-data-value-con ol li { color:#ccc; font-size:10px; }

 /* line 252,  */ #nebula-visitor-data #user-details-con .user-data-value-con ol li span { color:#292b2c; font-size:1rem; }

 /* line 255,  */ #nebula-visitor-data #user-details-con .user-data-value-con .user-data-value { word-wrap:break-word; }

 /* line 257,  */ #nebula-visitor-data #user-details-con a.edit-this-user-data { color:#000; opacity:0.1; transition:all 0.25s; }

 /* line 258,  */ #nebula-visitor-data #user-details-con a.edit-this-user-data:hover { color:#0098d7; opacity:1; }

 /* line 260,  */ #nebula-visitor-data #user-details-con a.update-user-data-cancel { color:maroon; }

 /* line 261,  */ #nebula-visitor-data #user-details-con #user-data-editing { width:55%; }

 /* line 262,  */ #nebula-visitor-data #user-details-con .ajax-update-spinner { display:none; }

 /* line 263,  */ #nebula-visitor-data #user-details-con .user-date-editing-note { padding-top:3px; color:#777; font-style:italic; }

 /* line 265,  */ #nebula-visitor-data #detail-new-row { margin-top:15px; }

 /* line 266,  */ #nebula-visitor-data #detail-new-row p { margin-bottom:3px; }

 /* line 269,  */ /* line 270,  */ #nebula-visitor-data .useful-queries div { margin-bottom:25px; }

 /* line 273,  */ #nebula-visitor-data #dangerous-stuff { margin-top:30px; padding-top:10px; border-top:1px dotted maroon; }

 /* line 274,  */ #nebula-visitor-data .danger-link { color:maroon; }

 /* line 275,  */ #nebula-visitor-data .danger-link:hover { color:red; }

 /* line 279,  */ #wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i,.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i #footer-upgrade strong.nebula { cursor:help; }

 /* line 285,  */ #wpfooter a { text-decoration:none; }

 /* line 287,  */ /* line 288,  */ .nebula_admin_notice a { color:#0098d7; -webkit-transition:all 0.25s; -moz-transition:all 0.25s; -ms-transition:all 0.25s; -o-transition:all 0.25s; transition:all 0.25s; }

 /* line 289,  */ .nebula_admin_notice a:hover { color:#95d600; }

 /* line 293,  */ .myhidden { display:none; visibility:hidden; opacity:0; }

 /* line 294,  */ .noheight { height:0 !important; overflow:hidden; opacity:0 !important; }

 /* line 297,  */ #all-nebula-options { padding:10px 0 0 0; /* remove this */ }

 /* line 298,  */ #all-nebula-options h2 { font-size:24px; margin-bottom:35px; }

 /* line 299,  */ #all-nebula-options h3 { font-size:18px; margin-bottom:25px; }

 /* line 300,  */ #all-nebula-options h4 { font-size:14px; }

 /* line 302,  */ #all-nebula-options #options-navigation { transition:opacity 0.25s; }

 /* line 304,  */ #all-nebula-options .sticky { position:sticky; top:60px; }

 /* line 306,  */ #all-nebula-options .nav-link { font-size:16px; }

 /* line 307,  */ #all-nebula-options .nav-link i { color:#23282d; }

 /* line 308,  */ .active #all-nebula-options .nav-link i { color:#fff; }

 /* line 311,  */ #all-nebula-options .nav-link i.empty-important-tab-warn { color:#d9534f !important; line-height:24px; float:right; }

 /* line 314,  */ #all-nebula-options ul#preset-filters { margin:0; padding:0; list-style:none; }

 /* line 315,  */ #all-nebula-options ul#preset-filters ul { padding-left:20px; }

 /* line 318,  */ #all-nebula-options .option-group { margin-bottom:50px; }

 /* line 320,  */ #all-nebula-options .form-group,#all-nebula-options .multi-form-group { margin-bottom:25px; transition:opacity 0.25s; }

 /* line 322,  */ #all-nebula-options .form-group .form-group,#all-nebula-options .multi-form-group .form-group { margin-bottom:0; }

 /* line 323,  */ #all-nebula-options .form-group .form-text,#all-nebula-options .multi-form-group .form-text { font-size:12px; }

 /* line 326,  */ #all-nebula-options .input-group { transition:opacity 0.25s; }

 /* line 327,  */ #all-nebula-options .inactive { opacity:0.4; }

 /* line 328,  */ #all-nebula-options .inactive .nav-item,#all-nebula-options .inactive input,#all-nebula-options .inactive label { pointer-events:none; }

 /* line 334,  */ #all-nebula-options input:-moz-placeholder,#all-nebula-options textarea:-moz-placeholder { color:#ddd; }

 /* line 336,  */ #all-nebula-options input:-ms-input-placeholder,#all-nebula-options textarea:-ms-input-placeholder { color:#ddd; }

 /* line 338,  */ #all-nebula-options input::-webkit-input-placeholder,#all-nebula-options textarea::-webkit-input-placeholder { color:#ddd; }

 /* line 341,  */ #all-nebula-options .toggle-more-help { margin-left:5px; color:#666; }

 /* line 342,  */ #all-nebula-options .toggle-more-help:hover { color:#0098d7; }

 /* line 345,  */ #all-nebula-options .nebula-help-text { margin:0.25rem 0 0 0; }

 /* line 346,  */ #all-nebula-options .nebula-help-text.more-help { display:none; }

 /* line 349,  */ #all-nebula-options .direct-link { margin-left:5px; color:#666; }

 /* line 350,  */ #all-nebula-options .direct-link:hover { color:#0098d7; }

 /* line 353,  */ #all-nebula-options .important-empty label { color:#d9534f; font-weight:bold; }

 /* line 354,  */ #all-nebula-options .important-warning { font-weight:normal; margin:0.25rem 0 0 0; }

 /* line 356,  */ #all-nebula-options .dependent-note { color:#d9534f; margin:0.25rem 0 0 0; padding:0; font-size:12px; }

 /* line 358,  */ #all-nebula-options input[type=checkbox] { height:0; width:0; visibility:hidden; display:none; }

 /* line 359,  */ #all-nebula-options input[type=checkbox] + label { display:flex; position:relative; align-items:center; cursor:pointer; text-indent:70px; width:54px; white-space:nowrap; padding:0.5rem 0; font-size:1rem; line-height:1.25; background:#ddd; border-radius:1.25rem; margin:0 15px 0 0; overflow:visible; }

 /* line 360,  */ #all-nebula-options input[type=checkbox] + label:after { content:''; position:absolute; left:5px; width:1.25rem; height:1.25rem; background:#fff; border-radius:50%; transition:0.25s; }

 /* line 361,  */ #all-nebula-options input[type=checkbox] + label:after:after { width:1.5rem; }

 /* line 366,  */ #all-nebula-options input:checked + label { background:#5cb85c; color:forestgreen; }

 /* line 367,  */ #all-nebula-options input:checked + label:after { left:calc(100% - 5px); transform:translateX(-100%); }

 /* line 370,  */ #all-nebula-options .option-keywords { display:none; }

 /* line 372,  */ #all-nebula-options .hidden { display:none !important; }

 /* line 374,  */ #all-nebula-options #reset-filter { text-align:right; margin-top:0.25rem; }

 /* line 375,  */ #all-nebula-options #reset-filter a { transition:all 0.25s; }

 /* line 378,  */ #all-nebula-options .filtereditem { display:none !important; }

 /* line 380,  */ #all-nebula-options .save-row { margin-bottom:35px; }

 /* line 382,  */ #all-nebula-options .highlight { padding:10px 15px; background:#fcf8e3; border:1px dotted #faf2cc; }


/* Monday, August 14, 2017 at 12:51:28 PM */