@import 'variables';
@import 'mixins';
@import 'helpers';

$admin_media_queries: (
	widescreen: "(max-width: 1800px) and (min-width: 1500px)",
	non_widescreen: "(max-width: 1110px)",
	desktop: "(max-width: 1499px) and (min-width: 800px)",
	tablet: "(max-width: 900px) and (min-width: 501px)",
	mobile: "(max-width: 500px)",
);

.nebula_help_link {text-decoration: none;}
i.help {cursor: help; color: #aaa; @include prefix((transition: all 0.25s));
	&:hover {color: #444;}
}

//Nebula Welcome Panel (Only on Dashboard page)
.index-php {
	.welcome-panel {display: block; padding: 8px 12px; overflow: hidden;
		.about-description {font-size: 13px;}
		li {color: #444; font-size: 13px; padding-bottom: 0;
			strong {color: #000;}
		}
		#phg-welcome {margin: 0;
			#welcome-content {width: 50%;
				h3 {margin-top: 0;}
				.welcome-panel-column {min-width: 100px;
					&:first-child {width: 33% !important;}
					li {@include media(custom, map_get($admin_media_queries, tablet)){display: block;};}
					@include media(custom, map_get($admin_media_queries, desktop)){width: 31% !important;};
					@include media(custom, map_get($admin_media_queries, tablet)){width: 33% !important; float: left !important;};
					@include media(custom, map_get($admin_media_queries, mobile)){width: 100% !important;};
				}
				.logocon {float: left; max-width: 22%; /* max-height: 56px; */ margin-right: 15px;
					a {display: inline-block;
						img {max-height: 48px; width: auto;}
					}
					@include media(custom, map_get($admin_media_queries, mobile)){display: none;};
				}
				hr {margin: 10px 0 0 -12px; border-bottom: none; border-top: 1px solid #eee; width: 5000px;}
				@include media(custom, map_get($admin_media_queries, widescreen)){width: 67%;};
				@include media(custom, map_get($admin_media_queries, desktop)){width: 50%;};
				@include media(custom, map_get($admin_media_queries, non_widescreen)){width: 100%;};
			}

			#welcome-photo {position: absolute; top: 0; right: 0; height: 100%; width: 47%; padding: 5px 20px;
				.welcome-photo-bg {position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: url($template_directory + "/images/phg/welcome.jpg") center 90% no-repeat; background-size: cover; z-index: 40;
					&.hidden {display: none !important; visibility: hidden; border: 3px solid blue;}
				}
				.weclome-map {position: absolute; top: 0; left: 0; height: 100%; width: 100%; padding: 0;}
				.phg-info {position: relative; background: rgba(0,0,0,0.6); position: absolute; bottom: 10px; left: 0; width: 100%; padding: 5px 12px; @include prefix((transition: all 0.25s));
					&:hover {background: rgba(0,0,0,0.8);}
					&.maininfo {z-index: 50;}
					&.mapinfo {z-index: 25;}
					h4 {margin: 0; height: 25px; overflow: hidden; opacity: 1; @include prefix((transition: all 0.25s));}
					span {display: inline-block; color: #fff;}
					a {display: inline-block; color: #fff; @include prefix((box-shadow: none)); @include prefix((transition: all 0.25s));
						&:hover {color: brand(phg);}
					}
					p {color: #fff; margin: 0;}
				}
				.js .jsinfo {bottom: -50px; @include prefix((transition: all 0.5s));}
				@include media(custom, map_get($admin_media_queries, widescreen)){width: 30%;};
				@include media(custom, map_get($admin_media_queries, desktop)){width: 45%;};
				@include media(custom, map_get($admin_media_queries, non_widescreen)){display: none;};
			}
		}
	}
}

//Nebula Options Page
.appearance_page_nebula_options {
	a {box-shadow: none;}
	h2 .nav-tab.nav-tab-inactive {font-weight: 400;}

	.form-table {
		&.dependent {@include media(custom, map_get($admin_media_queries, mobile)){display: block !important;};}
		h2 {}
		h3 {margin: 0;}
		th {width: 250px;
			@include media(custom, map_get($admin_media_queries, tablet)){width: 100%;};
		}
	}

	a {@include prefix((transition: all 0.25s));
		&.help {text-decoration: none; color: #ccc; box-shadow: none; cursor: help;
			&:hover,
			&.active {color: #0074a2;}
		}
		&.reset {text-decoration: none; color: red;}
	}

	p.helper {display: none; color: #777;
		&.active {display: block;}
	}

	input[type="text"],
	input[type="password"] {width: 206px; font-size: 12px;
		@include media(custom, map_get($admin_media_queries, tablet)){width: 100% !important;};
	}

	tr.short {
		th,
		td {padding-top: 5px; padding-bottom: 5px;}
	}

	input.dimension.error,
	input.metric.error {border: 1px solid $danger_color; @include background-color($danger_color, 0.1);}

	.mobiletitle {display: none;
		@include media(custom, map_get($admin_media_queries, mobile)){display: block;};
	}

	.nav-tab-wrapper {@include media(custom, map_get($admin_media_queries, mobile)){display: none;};}
}

.businessday {
	span {@include prefix((transition: all 0.25s));}
	input {@include prefix((transition: all 0.25s));}
	&.closed span,
	&.closed input {opacity: 0.4; pointer-events: none;}
	input[type="checkbox"] {opacity: 1 !important; pointer-events: all;}
}


.admin-user-info {text-transform: capitalize;}

#wpbody-content {padding-bottom: 40px;}
#dashboard-widgets .meta-box-sortables {min-height: 0;}
.metabox-holder .postbox-container .empty-container {height: 100px; margin-bottom: 25px !important;}

.wp-admin .hide-if-no-customize {display: none; visibility: hidden; opacity: 0;}

li.comment-count {display: none;}

.appearance_page_nebula_options {
	.form-table th {width: 300px;}
	textarea {width: 392px; height: 60px; resize: vertical; font-size: 12px;}
}

.form-table .helper {padding: 0 10px; margin: 10px 0; background: #f9f9f9; border-radius: 8px;}

th#id {width: 50px;}

//Dev Metabox
#phg_developer_info {
	.secured-connection i {color: $success_color;}
	#testloadcon {pointer-events: none; opacity: 0; visibility: hidden; display: none;}
	form.searchfiles {display: inline-block; margin-bottom: 10px; width: 90%;
		input.findterm {padding: 2px 5px; font-size: 12px; border-radius: 4px; width: 46%;}
		.searchdirectory {font-size: 12px; height: 23px; vertical-align: top;}
		input.searchterm {font-size: 12px; line-height: 11px; height: 22px; margin: 1px 1px; outline: none !important;}
	}
	.search_results {max-height: 0px; opacity: 0; font-size: 10px; background: #f6f6f6; padding: 5px; border: 1px solid #ddd; border-radius: 4px; overflow: auto; white-space: nowrap; @include prefix((transition: all 1s));
		&.done {max-height: 500px; opacity: 1;}
		.resulttext {font-size: 10px; margin: 0;}
	}
}

//TODO Manager
#todo_manager {
	.todoresults_title {margin-bottom: 0;
		.todo_help_icon {float: right; font-size: 10px;}
	}
	.todo_results {font-size: 10px; background: #f6f6f6; padding: 5px; margin-top: 10px; border: 1px solid #ddd; border-radius: 4px; overflow: auto; white-space: nowrap; height: 350px; resize: vertical;
		.todofilewrap {margin-bottom: 10px;
			.todofilename {font-size: 12px; margin: 0;}
			.linewrap {
				.todocategory {background: #ccc; color: #fff; padding: 0 5px; text-align: center; border-radius: 10px; text-transform: uppercase; font-size: 8px;
					i {color: #ccc;}
				}
				&.todo-priority-5 {
					.todocategory {background: $danger_color !important;}
				}
				&.todo-priority-4 {
					.todocategory {background: #e38a2c;}
				}
				&.todo-priority-3 {
					.todocategory {background: #dda65c;}
				}
				&.todo-priority-2 {
					.todocategory {background: #d3bd9f;}
				}
				&.todo-priority-1,
				&.todo-priority- {
					.todocategory {background: #ccc;}
				}
				&.todo-priority-0 {display: none;
					.todocategory {background: $primary_color;}
				}
				.todoresult {font-size: 10px; margin: 0; padding: 0;}
			}
		}
	}
}

//For both Dev Search and TODO Manager
.linenumber {font-weight: bold;}
.precon {display: none; resize: none;
	pre.actualline {display: table; font-family: monospace; font-size: 10px; margin: 0; color: #666; background: #fff; padding: 2px 5px; border-radius: 5px; resize: none; @include prefix((transition: all 0.25s));}
}

.nebula-admin-notice {
	a {text-decoration: none;}
}

//Hide theme activated notices in favor of Nebula activation notices (only on the themes page)
.themes-php {
	#message2.updated.notice.is-dismissible.below-h2 {display: none;}
	#setting-error-tgmpa {display: none !important;}
}

//Post/Page Listing Column Modifictions
.widefat td, .widefat td ol, .widefat td p, .widefat td ul {font-size: 12px !important;}
.fixed .column-categories, .fixed .column-rel, .fixed .column-response, .fixed .column-role, .fixed .column-tags {font-size: 10px; width: 10%;}
.fixed .column-author, .fixed .column-date, .fixed .column-format, .fixed .column-links, .fixed .column-parent, .fixed .column-posts {width: 10%;}
.fixed .column-comments {width: 3%;}
.widefat .column-id {padding-left: 0 !important; padding-right: 0 !important; font-size: 10px !important;}
.row-title, td.plugin-title strong, td.post-title strong, .row-actions, .plugin-version-author-uri {font-size: 12px !important;}

//Wordpress SEO (Yoast)
#wpseo-score .yst-traffic-light {height: 20px; padding-top: 4px;}

.wpseo-admin-page #sidebar-container {display: none;}
#wpseo-conf p.settings_error {display: none !important; visibility: hidden; height: 0; width: 0; opacity: 0; pointer-events: none;
	a {display: none !important; visibility: hidden; height: 0; width: 0; opacity: 0; pointer-events: none;}
}
.widefat .column-wpseo-score {font-size: 10px !important; /* text-align: center; */ /* background: #fafafa; */}
	.wpseo-score-icon {margin-left: 0; width: 10px !important; height: 10px;}
.widefat .column-wpseo-title {width: 200px; font-size: 10px !important; background: #fafafa;}
.widefat .column-wpseo-metadesc {width: 200px; font-size: 10px !important; background: #fafafa;}
.widefat .column-wpseo-focuskw {width: 100px; font-size: 10px !important; background: #fafafa;}

#dashboard_right_now a[href$="options-reading.php"] {color: $danger_color !important; font-weight: 700;
	&:before {content: '!'; background: $danger_color; color: #fff; padding: 0 7px; margin-right: 5px;}
}

ul.admin-menu-tree-page-tree .admin-menu-tree-page-expand {width: 19px; height: 20px;}

//Nebula TinyMCE Toolbar
#wp-fullscreen-buttons .mce-btn.mce-nebula-icon,
.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon {
	button {
		i {background-position: 0px 0px; background-repeat: no-repeat;
			&.mce-i-nebulaicon {background-image: url($template_directory + "/images/admin/nebulaicon.png");}
			&.mce-i-nebulamap {background-image: url($template_directory + "/images/admin/nebulamap.png");}
			&.mce-i-nebulacode {background-image: url($template_directory + "/images/admin/nebulacode.png");}
			&.mce-i-nebulacolgrid {background-image: url($template_directory + "/images/admin/nebulacolgrid.png");}
			&.mce-i-nebulavideo {background-image: url($template_directory + "/images/admin/nebulavideo.png");}
		}
	}
	&:focus button i,
	&:hover button i {background-position: 0px -20px; background-repeat: no-repeat;}
	&[aria-expanded="true"] {background: #ebebeb; border-color: #999; @include prefix((box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.3)), webkit);
		i {background-position: 0px -20px; background-repeat: no-repeat;}
	}
}



#wp-fullscreen-buttons .mce-btn.mce-nebula-icon button i,
.mce-toolbar .mce-btn-group .mce-btn.mce-nebula-icon button i


#footer-upgrade strong.nebula {cursor: help;}

.nebula_admin_notice {
	a {color: brand(phg); @include prefix((transition: all 0.25s));
		&:hover {color: brand(phg, 2);}
	}
}

.myhidden {display: none; visibility: hidden; opacity: 0;}
.noheight {height: 0 !important; overflow: hidden; opacity: 0 !important;}