// ===========================
// Global variables
// ===========================

$primary_color: #0098d7;
$secondary_color: #95d600;
$text_color: #444;
$font_stack: 'Open Sans', sans-serif;
$background_color: #f6f6f6;

$danger_color: #ca3838;
$warning_color: #f6b83f;
$success_color: #58c026;

$phg_cyan: #0098d7;
$phg_green: #95d600;
$phg_grey: #9fa1a4;

$facebook_color: #3b5998;
$twitter_color: #55acee;
$google_plus_color: #d73d32;
$linkedin_color: #0077b5;
$github_color: #333;
$youtube_color: #cc181e;
$instagram_color: #3f729b;
$soundcloud_color: #ff3300;